<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购买虚拟主机，虚拟主机在线开通</title>
<meta name="description" content="{companyname}-大型虚拟主机服务商,专业提供虚拟主机,域名注册,主机租用等服务.200M虚拟主机200元,国际域名80元.在线支付,实时开通,自主管理.领先的虚拟主机技术,配合NAS存储设备,将虚拟主机可靠性提升至99.99％的高品质！">
<meta name="keywords" content="虚拟主机,域名注册,主机,服务器租用，主页空间,个人主页,{companyname},主机托管,主机租用,域名,asp空间,网页制作">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/Default.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/bagshow.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/css.css" rel="stylesheet" type="text/css">
<script src="/Template/Tpl_05/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
 <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
      <li><a href="/bagshow">购物车</a></li>
      <li><a href="/bagshow/orderlist.asp">我的订单</a></li>
    </ul>
  </div>
<div id="MainContentDIV">
    <div id="zxwInfo">
      <div id="shopecart" class="clearfix"><img src="/Template/Tpl_05/newimages/bagshow/info_Title_pic_orders.jpg" width="290" height="61" />
        <form name="form1" action="/bagshow/orderlist.asp" method="post">
          <table>
            <tr>
              <td class="RoomNameBox_">产品名称</td>
              <td class="RoomNameBox_">产品单价</td>
              <td class="RoomNameBox_">年限</td>
              <td class="RoomNameBox_">用户名</td>
              <td class="RoomNameBox_">用户类别</td>
            </tr>
             <!-- BEGIN bagshoworderlist -->
              <tr> 
                <td class="GreenColor">{productname}</td>
                <td class="GreenColor">{price}</td>
                <td class="GreenColor">{vyears}</td>
                <td class="GreenColor">{user_name}</td>
                <td class="GreenColor">{u_level}</td>
              </tr>
              <!-- END bagshoworderlist -->
           
            <tr>
              <td colspan="8">{#orderlisttxt.html}</td>
            </tr>
          </table>
          <div class="ShopBuyStep">
            <div class="shopcar"></div>
            <ul class="orderStep">
              <li>选择商品</li>
              <li>添加购物车</li>
              <li>完成付款</li>
              <li style="width:95px;">购买成功</li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
			</div>
{#bottom.html}
</body>
</html>