<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>关于我们-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/domain.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery.superslide.2.1.1.x.js"></script>
<style>
.content-right{padding-top:0px;}
.SiteMapPath{padding:20px; font-size:14px;}
</style>
</head>

<body class="min990">
{#top.html} 

<div class="content con-padding">
	<div class="wide1190 cl"> 

	 <div class="navbar-left">
	{#AboutusLeft.html}
	 </div>
 
  <div id="Mainlist" class="content-right cl">
	  	 <div id="SiteMapPath">
			<ul>
			  <li><a href="/">{companyname}首页</a></li>
			  <li><a href="/customercenter/">客服中心</a></li>
			</ul>
			</div>
      <div class="clear"></div>

	  <div id="DomainFlash"><img src="/Template/Tpl_05/newimages/AboutUs/aboutus.jpg" width="100%" ></div>
 
   <img src="/Template/Tpl_05/newimages/AboutUs/info_Title_pic.jpg" width="290" height="61" /> 
  <p>
  <div style="line-height:30px;">
  <span class="B">　　『{companyname}』</span>
  主要以互联网基础服务、IDC电信资源服务为主导。
  </p>
  <p>　　服务项目包括域名注册、 虚拟主机、VPS、云主机、企业邮箱、主机租用、主机托管、CDN网站加速、网络营销服务等，以帮助客户轻松、高速、 高效的应用互联网，提高企业竞争能力。 </p>
  <p> <span class="B">　　『{companyname}』</span>正在以创新、引领互联网科技前沿作为自身进步的灵魂和事业兴旺发达的不懈动力，积极建立适应知识经济、技术创新的机制与经营方式，全力向技术产业方面发展。

<p> <span class="B">　　</span>团队有多年的互联网基础应用服务运营经验，凭借优秀的运营管理队伍、业界资深技术工程师，强大的资金、技术、电信资源的优势，为国内外的企业和个人用户提供优秀的互联网服务，并吸引了国内外优秀的知名企业于我们合作，共同致力于互联网应用服务。不断推陈出新是我们企业的源动力，令用户百分百满意的服务是我们团队中每一个人牢记在心的理念。『{companyname}』与广大同仁一道，全力打造互联网基础应用知名品牌！</p>
 
 <p> <span class="B">　　『{companyname}』</span>始终秉持“客户为尊，永续创新”的服务宗旨，服务质量在业界有口皆碑。公司的经营理念是“成功源于共享，合作成就未来”，凭借优秀的团队及强大的资金、技术等资源优势，致力于为全球的中小企业、商务人士提供稳定高效、极富价值和乐趣的互联网应用服务。</p> 
</div> 

      
   </div>
  </div>


{#bottom.html}
</body>
</html>
