<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>关于我们-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/domain.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery.superslide.2.1.1.x.js"></script>
<style>
.content-right{padding-top:0px;}
.SiteMapPath{padding:20px; font-size:14px;}
</style>
</head>

<body class="min990">
{#top.html} 

<div class="content con-padding">
	<div class="wide1190 cl"> 

	 <div class="navbar-left">
	{#AboutusLeft.html}
	 </div>
 
  <div id="Mainlist" class="content-right cl">
	  	 <div id="SiteMapPath">
			<ul>
			  <li><a href="/">{companyname}首页</a></li>
			  <li><a href="/aboutus/zhizhi.asp">公司资质</a></li>
			</ul>
			</div>
      <div class="clear"></div>

	  <div id="DomainFlash"><img src="/Template/Tpl_05/newimages/AboutUs/aboutus.jpg" width="100%" ></div>
 
   <img src="/images/about/info_Title_pic_qualificatio.jpg" width="290" height="61" /> 
  <p>
  <div style="line-height:30px;">
	  <span class="B">『{companyname}』</span>
	  待处理页面
</div> 
		
      
   </div>
  </div>


{#bottom.html}
</body>
</html>
