
.domain-dark-container {
	background-color:#F1F4F4;
	z-index:90
}
.domain-query-container {
	position:relative;
	z-index:90
}
.domain-query-container .domain-count {
	position:absolute;
	top:32px;
	left:18px;
	color:#fff;
	font-size:14px
}
.domain-query-container .domain-count .count {
	font-size:21px;
	color:#ff7200;
	font-weight:700;
	font-style:italic
}
.domain-query-container .domain-count p {
	font-size:18px
}
.query-container {
	padding:10px 10px 20px 10px;
	margin-top:0;
	border-radius:4px 4px 0 0;
	*zoom:1
}
.adver-ext-container li {
	float:left
}
.adver-ext-container li.right {
	float:right
}
.adver-ext-container .adver-ext {
	height:32px;
	line-height:32px;
	padding-right:14px;
	color:#fff;
	font-size:14px
}
.adver-ext-container .adver-ext:hover {
	text-decoration:underline
}
.adver-ext-container .adver-ext span {
	font-size:12px
}
.adver-ext-container .adver-link {
	height:32px;
	line-height:32px;
	padding-left:14px;
	color:#fff;
	font-size:14px
}
.adver-ext-container .adver-link:hover {
	text-decoration:underline
}
.query-container .query-input-container {
	display:block;
	margin-right:260px;
	position:relative;
	_zoom:1
}
.query-container .query-input-container .common-input {
	width:100%;
	display:block;
	height:42px;
	line-height:42px;
	padding:5px 0;
	border-radius:4px 0 0 4px;
	border:0;
	*border:0;
	font-size:14px;
	text-indent:15px;
	position:relative
}
.common-input {
	color:#000
}
.query-input-container .input-wrapper .close {
	width:30px;
	height:42px;
	background:url(/template/Tpl_2016/images/ie6-icon.jpg) no-repeat center right #FFF;
	background-position:8px -330px;
	position:absolute;
	top:2px;
	right:0;
	cursor:pointer;
	display:none
}
.placeholder {
	color:#c9c9c9
}
.query-container .domain-query-btn {
	position:absolute;
	right:-160px;
	top:0;
	*top:1px;
	width:160px;
	background:url(/template/Tpl_2016/images/icon.png) no-repeat 22px -76px #ff7200;
	border-radius:0 4px 4px 0;
	height:52px;
	text-align:center;
	line-height:52px;
	font-size:20px;
	color:#fff;
	font-weight:700;
	font-style:italic;
	border:0;
	cursor:pointer;
	_height:52px;
	_line-height:52px
}
.query-container .pre-links {
	position:absolute;
	right:-250px;
	top:7px
}
.query-container .pre-links a {
	display:block;
	line-height:20px;
	color:#fff;
	font-size:16px
}
.query-container .pre-links a:hover {
	text-decoration:underline
}
.query-container .pre-links a.small {
	font-size:14px
}
.domext-container {
	padding:6px;
	border:1px solid #eee;
	border-top:0;
	box-shadow:0 2px 3px 0 rgba(0,0,0,.035);
	background-color:#fff;
}
.domext-wrapper {
	overflow:hidden;
	_overflow:hidden;
	_zoom:1;
	_clear:both;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease
}
.domext-wrapper.collapse {
	height:80px
}
.domext-wrapper label {
	padding:10px 0 10px 23px;
	line-height:20px;
	height:20px;
	font-size:14px;
	background:url(/template/Tpl_2016/images/icon.png) no-repeat 0 -325px;
	_background:url(/template/Tpl_2016/images/unselected.jpg) no-repeat left center;
	width:75px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:left
}
.domext-wrapper label.checked {
	background:url(/template/Tpl_2016/images/icon.png) no-repeat 0 -288px;
	_background:url(/template/Tpl_2016/images/selected.jpg) no-repeat left center
}
.domext-wrapper label input {
	display:none
}
.domext-wrapper .icon {
	width:17px;
	height:17px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	background-image:url(/template/Tpl_2016/images/icon.png);
	background-repeat:no-repeat;
	margin-left:3px;
	margin-top:1px
}
.domext-wrapper .new {
	background-position:0 -498px
}
.domext-wrapper .hot {
	background-position:-36px -498px
}
.domext-wrapper .promotion {
	background-position:-74px -498px
}
.domext-container .expand-container {
	text-align:center;
	position:relative
}
.domext-container .expand-icon {
	line-height:25px;
	height:25px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #eee;
	border-top:0 solid #fff;
	background:url(/template/Tpl_2016/images/icon.png) no-repeat 92px -174px #fff;
	padding:0 41px 0 34px;
	cursor:pointer;
	position:absolute;
	left:50%;
	margin-left:-55px;
	top:6px;
	border-radius:0 0 6px 6px;
	box-shadow:0 2px 3px 0 rgba(0,0,0,.035)
}
.domext-container .collapse-icon {
	background:url(/template/Tpl_2016/images/icon.png) no-repeat 92px -145px #fff
}
.domext-select-container {
	margin:5px 0
}
.domext-select-container label {
	vertical-align:middle;
	padding:5px 5px 5px 0;
	font-size:14px;
	color:#72616a
}
.domext-select-container label input {
	margin-right:3px
}
.domext-select-container .more-domains {
	border:1px solid #c2edfb;
	color:#67b9ec;
	padding:5px 7px;
	vertical-align:middle;
	margin-left:24px
}
/*.domext-wrapper label a {
	color:#4a4a4a
}*/
.dm-price-tip-container {
	line-height:1.5em;
	color:#666;
	font-size:12px;
	position:absolute;
	border:1px solid #E6E6E6;
	display:none;
	padding:5px 10px;
	width:auto;
	min-width:130px;
	max-width:150px;
	left:50%;
	top:100%;
	margin-top:5px;
	margin-left:-70px;
	background-color:#fff;
	z-index:10
}
a:hover .dm-price-tip-container {
	display:block
}
.dm-price-tip-container .domain-name {
	font-weight:700;
	color:#09F
}
.dm-price-tip-container .domain-price {
	font-weight:700;
	color:#F60;
	font-size:16px
}
.hotRecommend {
	padding-top:106px;
	padding-bottom:28px;
	width:100%;
	background:#f1f4f4
}
.hotList-title {
	color:#333;
	font-size:24px;
	text-align:center
}
.hotList-title p {
	color:#757575;
	font-size:14px
}
.hotList {
	text-align:center;
	width:558px;
	margin:0px auto 30px
}
.hotList li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	float:left
}
.hotList li a {
	display:block;
	height:50px;
	line-height:50px;
	font-size:16px;
	width:180px;
	margin-right:6px;
	_position:relative
}
.hotList li a.last {
	margin-right:0
}
.columnList-flag-container {
	width:188px;
	background-color:#f1f1f1;
	float:left;
	overflow:hidden;
	height:528px;
	position:relative
}
.columnList-flag-container .column-flag {
	margin-right:5px;
	padding:10px 34px 10px 24px;
	height:510px;
	color:#fff;
	position:absolute;
	left:-9999px
}
.columnList-flag-container .active-column-flag {
	left:0
}
.columnList-flag-container .column-flag .title-en {
	font-size:18px;
	color:#fff;
	font-weight:700;
	text-align:left;
	padding-top:20px;
	padding-bottom:10px
}
.columnList-flag-container .column-flag .title-zh {
	font-size:26px;
	padding:10px 8px 14px;
	border:2px solid #fff;
	color:#fff;
	font-weight:700
}
.columnList-flag-container .column-flag .title-zh a {
	color:#fff
}
.columnList-flag-container .column-flag p {
	margin-top:14px;
	font-size:14px
}
.columnList-flag-container .column-flag .link-img {
	position:absolute;
	bottom:118px
}
.columnList-flag-container .column-flag-1 {
	background:url(/template/Tpl_2016/images/column-flag-1.jpg) no-repeat
}
.columnList-flag-container .column-flag-2 {
	background:url(/template/Tpl_2016/images/column-flag-2.jpg) no-repeat
}
.columnList-flag-container .column-flag-3 {
	background:url(/template/Tpl_2016/images/column-flag-3.jpg) no-repeat
}
.columnList-flag-container .column-flag-4 {
	background:url(/template/Tpl_2016/images/column-flag-4.jpg) no-repeat
}
.columnList-flag-container .column-flag-4 .title-en {
	margin:0 -8px
}
.columnList-container {
	position:relative;
	float:left;
	width:100%
}
.columnList {
	text-align:center;
	opacity:0;
	-ms-filter:alpha(Opacity=0);
	filter:alpha(Opacity=0);
	position:absolute;
	top:0;
	z-index:10
}
.columnList .column .column-img {
	max-width:100%;
	padding:13px 0;
	height:100%
}
.active-columnList {
	opacity:1;
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	z-index:20;
	position:relative
}
.columnList li {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:32%;
	float:left;
	_overflow:hidden
}
.westhostlist li{width: 33.3%}
.column {
	position:relative;
	border:2px solid #e5e5e5;
	background:#fff;
	z-index:1;
	margin-top: 22px;
}

.column .hot {
	position:absolute;
	right:0;
	top:0;
	height:59px;
	width:71px;
	background:url(/template/Tpl_2016/images/hot-flag.jpg) no-repeat;
	text-align:center;
	padding-top:5px;
	text-indent:27px;
	color:#fff;
	font-size:14px;
	font-style:normal
}
.columnList .product-intro {
	height:83px;
	padding-top:23px;
	display:block;
	position:relative;
	text-align:center
}
.columnList .product-intro img {
	position:absolute;
	left:50%;
	margin-left:-41px;
	top:50%;
	margin-top:-42px;
	background-color:#fff
}
.columnList .column.hover {
	z-index:2
}
.column h6 {
	color:#444;
	margin-top:0;
	padding-bottom:10px
}
.column .star {
	padding-bottom:8px;
	width:94px;
	height:12px;
	background:url(/template/Tpl_2016/images/icon.png) 0 -60px no-repeat;
	border-bottom:1px solid #bfbfbf;
	text-align:center;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.column .yellow-star {
	background:url(/template/Tpl_2016/images/icon.png) 0 -40px no-repeat;
	height:100%;
	float:left
}
.column .yellow-star1 {
	width:13px
}
.column .yellow-star2 {
	width:34px
}
.column .yellow-star3 {
	width:55px
}
.column .yellow-star4 {
	width:76px
}
.column .yellow-star5 {
	width:97px
}
.column .price {
	font-size:40px;
	line-height:40px;
	color:#ff7200;
	height:40px
}
.column .price .date-unit {
	font-size:14px;
	color:#000;
	font-weight:400;
	padding-left:5px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:27px;
	line-height:27px
}
.column .tList {
	margin-top:14px;
	width:100%;
	table-layout:fixed
}
.column .tList tr th,.column .tList tr td {
	height:32px;
	line-height:32px;
	color:#212121
}
.column .tList tr th {
	text-align:left;
	padding-left:30px;
	width:40%
}
.column .tList tr td {
	text-align:right;
	width:60%;
	padding-right:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.column .btnDiv {
	padding-top:30px;
	padding-bottom:29px;
	font-size:0
}
.column .g-common-btn {
	height:38px;
	line-height:38px;
	width:110px;
	/*margin-right:0*/
}
.column .g-empty-btn {
	margin-right:11px
}
.column-vhost h6 {
	padding:24px 0;
}
.column-vhost .price {
	background-color:#f5f5f5;
	height:76px;
	line-height:76px;
	font-size:40px;
	z-index:2;
	margin-bottom: 15px;
	position:relative
}
.column-vhost .price span {
	font-size:14px;
	font-weight:400;
	color:#000
}
.column-vhost p {
	height:42px;
	line-height:42px;
	border-bottom:1px solid #ececec;
	margin:0 49px
}
.column-vhost .check-more {
	color:#1060ad;
	padding-bottom:14px;
	padding-top:10px;
	font-family:'ËÎÌו';
	display:block
}
.column-vhost .check-more:hover {
	color:#ff7200
}
.hotRecommend .latest-news {
	font-size:16px;
	color:#333;
	height:80px;
	border:1px solid #e8e8e8;
	background-color:#f9f9f9
}
.hotRecommend .latest-news .title {
	float:left;
	width:130px;
	text-align:center;
	padding-top:50px;
	background:url(/template/Tpl_2016/images/domain-info-tip.jpg) no-repeat center 12px;
	font-size:12px
}
.hotRecommend .latest-news .scroll-msg {
	font-size:12px;
	height:80px;
	overflow:hidden;
	color:#7a7a7a
}
#J_lastestNews ul li {
	height:40px;
	line-height:40px;
	float:left
}
#J_lastestNews a {
	height:40px;
	line-height:40px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	border-bottom:1px dashed #dedede;
	width:385px;
	float:left;
	margin-right:50px;
	_width:380px
}
#J_lastestNews a i {
	font-style:normal;
	float:left;
	color:#d4d4d4;
	width:20px;
	height:40px;
	background-image:url(/template/Tpl_2016/images/disc.jpg);
	background-repeat:no-repeat;
	background-position:8px 18px
}
#J_lastestNews span.msg {
	display:block;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:295px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-break:normal
}
#J_lastestNews span.date {
	color:#b0b0b0;
	float:right
}
.domainMarket {
	background:url(/template/Tpl_2016/images/domain-market.jpg) no-repeat #fff center top;
	padding-top:228px;
	padding-bottom:40px
}
.domainMarket .domainList {
	margin:0 auto
}
.domainList li {
	float:left;
	width:380px
}
.domainList li.auction {
	margin:0 25px
}
.domainList li p {
	text-align:center;
	font-weight:700;
	font-size:20px
}
.domainList table {
	width:100%
}
table.domain-paimai {
	margin-top:30px;
	border:1px solid #eee;
	border-collapse:collapse;
	text-align:center;
	table-layout:fixed;
	background-color:#fff
}
table.domain-paimai tr th,table.domain-paimai tr td {
	height:50px;
	line-height:50px;
	border-bottom:1px solid #eee;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
table.domain-paimai tr th {
	background:#f4f8fc;
	font-size:16px;
	font-weight:600
}
table.domain-paimai tr td {
	font-size:14px;
	vertical-align:middle;
	padding:0 .5em
}
table.domain-paimai tr:hover {
	background:#f7f7f7
}
table.domain-paimai a {
	display:block
}
.paimai-price a {
	color:#fe7e00;
	font-weight:700
}
.domainList .btnDiv {
	padding:12px;
	text-align:center
}
.domainList .btnDiv .txtBtn {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:140px;
	height:34px;
	border:1px solid #4a9ced;
	border-radius:18px;
	font-size:14px;
	color:#4a9ced;
	line-height:34px;
	text-align:center
}
.domainList .btnDiv .txtBtn:hover {
	background:#4a9ced;
	color:#fff
}
.newActivity {
	width:100%;
	background:#f9f9f9;
	text-align:center
}
#newActSlide {
	padding:25px 30px 0;
	width:1130px;
	margin:0 auto
}
#newActSlide .slide-wrapper {
	padding-bottom:56px;
	width:1130px
}
#newActSlide .slide-wrapper ul {
	height:230px;
	overflow:hidden
}
#newActSlide .slide-wrapper li {
	display:block;
	margin-right:30px;
	width:260px
}
#newActSlide .slide i {
	display:block;
	height:160px;
	background-repeat:no-repeat;
	background-color:#efefef;
	background-size:cover;
	background-position:center
}
#newActSlide .activity-desc {
	height:68px;
	border:1px solid #eee;
	background-color:#fff;
	font-size:13px;
	text-align:center
}
#newActSlide .activity-desc span,#newActSlide .activity-desc i {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle
}
#newActSlide .activity-desc i {
	height:100%;
	width:0
}
#newActSlide .next,#newActSlide .prev {
	height:64px;
	width:26px;
	_width:25px;
	_height:63px;
	margin-top:-56px;
	-ms-filter:alpha(Opacity=100);
	filter:alpha(Opacity=100);
	opacity:1;
	zoom:1
}
#newActSlide .prev {
	left:0;
	background:url(/template/Tpl_2016/images/icon.png) 4px -223px no-repeat #e0e0e0;
	background:url(/template/Tpl_2016/images/ie6-icon.jpg) no-repeat 0 -122px
}
#newActSlide .prev:hover {
	background:url(/template/Tpl_2016/images/icon.png) 4px -223px no-repeat #B5B3B3;
	background:url(/template/Tpl_2016/images/ie6-icon.jpg) no-repeat -75px -122px
}
#newActSlide .next {
	right:0;
	width:26px;
	background:url(/template/Tpl_2016/images/icon.png) -77px -223px no-repeat #e0e0e0;
	_background:url(/template/Tpl_2016/images/ie6-icon.jpg) no-repeat 0 -236px
}
#newActSlide .next:hover {
	background:url(/template/Tpl_2016/images/icon.png) -77px -223px no-repeat #B5B3B3;
	_background:url(/template/Tpl_2016/images/ie6-icon.jpg) no-repeat -75px -236px
}
#newActSlide .slide-pagination {
	bottom:15px
}
#newActSlide .slide-pagination ul li {
	width:10px;
	height:10px
}
#newActSlide .slide-pagination ul li.on {
	width:8px;
	height:8px;
	border:solid 1px #ddd;
	background-color:#fff
}
.ourAdvantage {
	width:100%;
	text-align:center;
	line-height:1
}
.ourAdvantage .edge-animation-fallback {
	display:block;
	height:335px;
	background-position:center;
	background-repeat:no-repeat
}
.txtP {
	padding-top:24px;
	font-size:28px;
	color:#067bc6;
	line-height:normal
}
.line-blue {
	margin:12px auto 0;
	width:100px;
	border-bottom:4px solid #00a1e7
}
.line-gray {
	margin:0 auto;
	width:600px;
	border-bottom:1px solid #e3e3e3
}
.ourAdvantage .txt {
	padding:0 16px;
	margin-top:18px;
	line-height:28px;
	font-size:16px;
	color:#5a5a5a
}
.adList {
	margin:0 auto
}
.adList li {
	float:left;
	display:inline;
	width:350px;
	margin-top:70px;
	text-align:left;
	cursor:pointer;
	text-align:center
}
.adList li.col-middle {
	margin-left:70px;
	margin-right:70px
}
.adList li .reason_img {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:90px;
	height:102px;
	background-image:url(/template/Tpl_2016/images/advantage.jpg);
	background-repeat:no-repeat;
	-webkit-transition:all .7s ease;
	-moz-transition:all .7s ease;
	transition:all .7s ease
}
.adList li .reason_img_1 {
	background-position:0 0
}
.adList li .reason_img_2 {
	background-position:-202px 0
}
.adList li .reason_img_3 {
	background-position:-404px 0
}
.adList li .reason_img_4 {
	background-position:-606px 0
}
.adList li .reason_img_5 {
	background-position:-808px 0
}
.adList li .reason_img_6 {
	background-position:-1010px 0
}
.adList li.hover .reason_img_1,.adList li .reason_img_1:hover {
	background-position:0 -215px
}
.adList li.hover .reason_img_2,.adList li .reason_img_2:hover {
	background-position:-202px -215px
}
.adList li.hover .reason_img_3,.adList li .reason_img_3:hover {
	background-position:-404px -215px
}
.adList li.hover .reason_img_4,.adList li .reason_img_4:hover {
	background-position:-606px -215px
}
.adList li.hover .reason_img_5,.adList li .reason_img_5:hover {
	background-position:-808px -215px
}
.adList li.hover .reason_img_6,.adList li .reason_img_6:hover {
	background-position:-1010px -215px
}
.adList li .ad_right {
	padding-top:20px;
	line-height:30px;
	font-size:16px;
	color:#363636
}
.news {
	margin-top:100px;
	background:url(/template/Tpl_2016/images/bg_news.png) no-repeat center top
}
.newsList {
	padding-top:120px;
	padding-bottom:34px
}
.newsList li {
	float:left;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:32%
}
.newsList li.middle-column {
	margin:0 2%;
	*margin:0 1%
}
.newsList .newsborder {
	border:1px solid #eee
}
.newsList .newsBg {
	height:52px;
	line-height:52px;
	background:#0080e3;
	font-size:16px;
	color:#fff;
	text-align:center
}
.newsList .newsImg {
	margin:0 auto;
	padding:20px 0;
	border-bottom:1px solid #eee;
	text-align:center
}
.newsList .newsImg i {
	display:block;
	width:97px;
	height:94px;
	margin:0 auto;
	background-image:url(/template/Tpl_2016/images/news-icon.jpg);
	background-repeat:no-repeat
}
.newsList .newsImg i.item-1 {
	background-position:0 0
}
.newsList .newsImg i.item-2 {
	background-position:0 -149px
}
.newsList .newsImg i.item-3 {
	background-position:0 -284px;
	width:120px
}
.newsList ol {
	display:block;
	line-height:30px;
	position:relative;
	vertical-align:top;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:25px 10px 30px
}
.newsList ol li {
	display:block;
	float:none;
	width:auto;
	position:relative
}
.newsList ol li em {
	margin:11px 11px 11px 0;
	background-color:#ffbc5f;
	height:8px;
	width:8px;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	line-height:0;
	display:inline-block;
	*display:inline;
	*zoom:1;
	_margin:8px 11px 11px 0
}
.newsList ol li a {
	color:#212121;
	display:block;
	line-height:30px;
	padding-left:30px;
	padding-right:90px;
	*width:150px
}
.newsList ol li a:hover {
	color:#fd741b
}
.newsList ol .newsDate {
	color:#999;
	position:absolute;
	right:0;
	top:0
}
.newsList .btnDiv {
	text-align:center
}
.newsList .btnDiv .txtBtn {
	margin-top:16px;
	width:140px;
	height:34px;
	border:1px solid #4a9ced;
	border-radius:18px;
	font-size:14px;
	color:#4a9ced;
	line-height:34px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-align:center
}
.newsList .btnDiv .txtBtn:hover {
	background:#4a9ced;
	color:#fff
}
.ourPartner {
}.ourPartner .txtPt {
	 padding-top:20px;
	 padding-left:5px;
	 font-size:20px;
	 height:54px;
	 line-height:54px;
	 border-bottom:1px solid #eee;
	 color:#333
 }
.ourPartner .txtPt .ptMore {
	font-size:12px;
	color:#9c9c9c;
	float:right
}
.ourPartner .ptList {
	height:109px;
	overflow:hidden
}
.ourPartner .ptList li {
	float:left;
	width:122px;
	text-align:center;
	display:inline-block;
	*display:inline;
	*zoom:1;
	padding:30px 0;
	margin-right:10px
}
.ourPartner .ptList li a img {
	width:100%;
	border:1px solid #eee
}
.ourPartner .ptList li a img:hover {
	border:1px solid #4a9ced
}
.cjyw {
	background:url(/template/Tpl_2016/images/bg_agent.jpg) no-repeat center top;
	text-align:center
}
.cjyw p {
	height:140px;
	line-height:140px;
	font-size:24px;
	color:#fff
}
.a1,.a2 {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:180px;
	height:54px;
	line-height:54px;
	font-size:20px;
	color:#fff;
	vertical-align:middle
}
.cjyw i {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:0;
	height:100%;
	vertical-align:middle
}
a.blueColor {
	background:#38bfef
}
a.orangeColor {
	background:#ffc16d
}
a.blueColor:hover,a.orangeColor:hover {
	color:#fff
}
.footer-top {
	padding:26px 0 34px;
	width:100%;
	background:url(/template/Tpl_2016/images/bg_footer.png) no-repeat center top
}
.footer-top-list {
}.footer-top .footer-top-list li {
	 float:left;
	 *width:297px;
	 padding-right:84px;
 }

.footer-top .footer-top-list li.pr-none {
	padding-right:0
}
.footer-top-list .section {
	height:60px;
	background:url(/template/Tpl_2016/images/footer-icon.png) no-repeat;
	background-repeat:no-repeat
}
.footer-top-list .section-img_1 {
	background-position:10px 0
}
.footer-top-list .section-img_2 {
	background-position:0 -92px
}
.footer-top-list .section-img_3 {
	background-position:0 -203px
}
.footer-top-list .section-img_4 {
	background-position:10px -306px
}
.footer-top-list .section .section-title {
	padding-left:70px;
	padding-top:20px;
	font-size:18px;
	color:#6d6d6d
}
@media screen and (max-width:1206px) {
	.adver-ext-container .adver-ext {
		padding-right:6px
	}
	.adver-ext-container .adver-link {
		padding-left:4px
	}
	.domext-wrapper.collapse {
		height:120px
	}


	.column-vhost p {
		margin:0 18px
	}
	.domain-tip {
		right:55px
	}
	.hotRecommend .latest-news .title {
		width:70px
	}
	#J_lastestNews a {
		width:344px;
		_width:339px;
		margin-right:20px
	}
	#J_lastestNews span.msg {
		width:245px
	}
	.domainMarket .domainList {
		width:990px
	}
	.domainList li {
		width:320px
	}
	.domainList li.auction {
		margin-right:15px;
		margin-left:15px
	}
	#newActSlide {
		width:930px
	}
	#newActSlide .slide-wrapper {
		width:930px
	}
	#newActSlide .slide-wrapper li {
		width:216px!important;
		margin-right:22px
	}
	.adList li {
		width:320px
	}
	.adList li.col-middle {
		margin-right:15px;
		margin-left:15px
	}
	.ourPartner .ptList li {
		width:113px
	}
	.footer-top .footer-top-list li {
		*width:247px;
		float: left;
		padding-right:16px
	}
}.desktop .adver-ext-container .adver-ext,.desktop .adver-ext-container .adver-link {
	 padding-right:6px
 }
.desktop .domext-wrapper.collapse {
	height:120px
}

.desktop .column-vhost p {
	margin:0 18px;
	color:#4c4c4c
}
.desktop .domain-tip {
	right:55px
}
.desktop .hotRecommend .latest-news .title {
	width:70px
}
.desktop #J_lastestNews a {
	width:344px;
	_width:339px;
	margin-right:20px
}
.desktop #J_lastestNews span.msg {
	width:245px
}
.desktop .domainMarket .domainList {
	width:990px
}
.desktop .domainList li {
	width:320px
}
.desktop .domainList li.auction {
	margin-right:15px;
	margin-left:15px
}
.desktop #newActSlide {
	width:930px
}
.desktop #newActSlide .slide-wrapper {
	width:930px
}
.desktop #newActSlide .slide-wrapper li {
	width:220px;
	margin-right:22px
}
.desktop .adList li {
	width:320px
}
.desktop .adList li.col-middle {
	margin-right:15px;
	margin-left:15px
}
.desktop .ourPartner .ptList li {
	width:113px
}
.desktop  .footer-top .footer-top-list li {
	width:auto;
	float:left;
	padding-right:14px;
}
.desktop .footer-top-list .section .section-title{font-size: 15px}
