<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>在线申请-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="在线申请-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.数万家成功企业案例.赠送企业邮局.">
<meta name="keywords" content="在线申请-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/productDetailInfo.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/commonForm.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
    <script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
</head>

      <script language=javascript>

 function check(form){
	if (form.UserName.value==""){
			alert("请输入您的用户名");
			form.UserName.focus();
			return false;
		}
	if (form.PWD.value==""){
			alert("请输入您的密码");
			form.PWD.focus();
			return false;
		}
    if (!confirm('您确信希望成为{companyname}的代理吗？')) return false;
	return true;
	}



function modelf(ckval){
	if(ckval=="C") {
	document.form1.level.disabled=true;
	text2.innerHTML="利润率15%,设置费180元（含一域名)";
	}else{
	document.form1.level.disabled=false;
	levelf(document.form1.level.selectedIndex);
		}

tx1="代理可以帮助客户购买产品等。不同的代理级别享受不同的<a href=/123.htm>代理价格</a>，免使用费";
tx2="代理可以有自己独立的虚拟网站,有独立的用户管理系统,进行产品的定义和销售。您只要成为我们代理商，在管理中心里 自己就可以申请属于你的虚拟站点，提供ftp权限，您可以修改你的页面信息，代理商有自己的形象出现。所有业务为实时开通，不需要您再手工提交！它包括下列模块：1.用户管理； 2.产品管理； 3.财务管理； 4.订单管理； 5.业务管理； 6.客户服务；7.代理商管理； <a href=/agent/model.asp>详情...</a>";
tx3="{companyname}销售联盟，是指共用{companyname}的品牌优势来进行连锁销售的一种模式。你只需要申请一个域名，按要求指向我们的ip,你就成为了{companyname}销售部队的一部分,<a href=vcp.asp>详情..</a>";

switch(ckval){
	case "A":
		txt=tx1;
		break;
	case "B":
		txt=tx2;
		break;
	case "C":
		txt=tx3;
		break;		

		}
	text1.innerHTML=txt;
  return true;
}

function levelf(ckindex){

txt1="代理预付款1000元";
txt2="代理预付款3000元";
txt3="代理预付款5000元";
txt4="代理预付款15000元";

switch(ckindex){
	case 0:
		txt=txt1;
		break;
	case 1:
		txt=txt2;
		break;
	case 2:
		txt=txt3;
		break;
	case 3:
		txt=txt4;
		break;
	}
if (document.form1.model.value=="B") txt=txt+",平台费用200元";
text2.innerHTML=txt;
return true;
}
</script>
<body class="min990">
{#top.html}
<div class="content" id="content">
    <div class="wide1190 pt-40">
        <div class="page-content">
            <div class="page-info">
                <form action="apply.asp" method="post" name="form1" id="form1" class="common-form" onSubmit="return check(this);">

                    <dl>
                        <dd>
                            <label class="common-label">会员用户名：</label>
                            <label><input name="UserName" type="text" class="common-input std-width" size="20" maxlength="50" />&nbsp;&nbsp;&nbsp;<a href="/reg" target="_blank" class="link">注册</a></label>
                           <label class="Validform_checktip"></label>
                        </dd>
                        <dd>
                            <label class="common-label">会员密码：</label>
                            <label><input name="PWD" type="password" class="common-input std-width" size="20" maxlength="50" />&nbsp;&nbsp;&nbsp;<a href="/reg/forget.asp" target="_blank" class="link">忘记密码</a></label>
                            <label class="Validform_checktip"></label>
                        </dd>
                        <dd>
                            <label class="common-label">代理模式：</label>
                            <label>  <select name="model" class="common-select" onChange="modelf(this.value);">
                                <option value="A" selected="selected">A模式</option>
                                <option value="B">B模式</option>
                                <option value="C(暂停申请)">C模式(暂停申请)</option>
                                <option value="API">api模式</option>
                            </select><br />
                            <div style="margin:10px 0 0 288px">代理可以帮助客户购买产品等。不同的代理级别享受不同的代理价格，免使用费</div></label>
                           <label class="Validform_checktip"></label>
                        </dd>
                        <dd>
                            <label class="common-label">代理级别：</label>
                            <label>   <select name="level" class="common-select" onChange="levelf(this.selectedIndex);">
                                <option value="普通代理" selected>普通代理</option>
                                <option value="一级代理">一级代理</option>
                                <option value="友好代理">友好代理</option>
                                <option value="伙伴代理">伙伴代理</option>
                            </select>&nbsp;&nbsp;&nbsp;<span id="text2" class="redColor">预付款1000元</span></label>
                            <label class="Validform_checktip"></label>
                        </dd>
                        <dd>
                            <label class="common-label">备注：</label>
                            <label>  <textarea name="Memo" cols="44" rows="3" wrap="VIRTUAL" class="common-textarea"></textarea></label>
                            <label class="Validform_checktip"></label>
                        </dd>
                        <dd>
                            <label class="common-label"></label>
                            <label>如果您在线提交代理申请，表示您已经查阅并接受了我司的代理协议。 </label>
                        </dd>
                        <dd>
                            <label class="common-label"></label>
                            <label><input name="button" type="submit" class="submit-btn" id="button" value="立即提交申请" /></label>
                        </dd>
                    </dl>
 </form>
            </div>

        </div>
    </div>
</div>


<!--<div class="Style2009">
<div id="MainContentDIV">
 <div id="MainRight">
      <div id="AgentList">
        <div class="apply_style">

          </div>
        </div>
      </div>



</div>
</div>-->
{#bottom.html}
</body>
</html>
