<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>代理专区-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="代理专区-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.数万家成功企业案例.">
<meta name="keywords" content="代理专区-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
  <link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
  <link rel="stylesheet" href="/template/Tpl_2016/css/agentmoshi.css">
  <link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
  <script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery.superslide.2.1.1.x.js"></script>
  <script type="text/javascript" src="/template/Tpl_2016/jscripts/common.js"></script>

</head>
<body class="min990">
{#top.html}
<!-- banner 开始 -->
<div class="sec-banner slide-container auto-size-fold">
  <div class="slide-pagination">
    <ul></ul>
  </div>
  <div class="slide-wrapper">
    <ul>
      <li> <a href="/services/webhosting/" target="_blank" class="slide" title="免备案香港云虚拟主机 全新升级" style="background-image: url('/template/Tpl_2016/images/banner/banner-2016sj.jpg');" >免备案香港云虚拟主机 全新升级</a> </li>
      <li> <a href="/services/webhosting/" target="_blank" class="slide" title="免备案香港云虚拟主机 全新升级" _bgimg="/template/Tpl_2016/images/banner/banner-2016sj.jpg" >免备案香港云虚拟主机 全新升级</a> </li>
    </ul>
  </div>
</div>
<!-- banner 结束 -->
<div id="content">
  <!-- 选项卡tab 开始 -->
  <div class="tab-bg">
 <div class="wide1190">
      <ul class="wjf-ui-tab-style3 cl" id="J_agentTab">
<li><a class="item active" href="javascript:void(0);" data-target="agent_1"  data-index="dlms">代理模式<i class="triangle-top"></i></a></li>
<li><a class="item " href="javascript:void(0);" data-target="agent_2" data-index="dljb">代理级别<i class="triangle-top"></i></a></li>
<li><a class="item " href="javascript:void(0);" data-target="agent_4" data-index="jmbd">加盟必读<i class="triangle-top"></i></a></li>
<a class="item " href="/agent/apply.asp" >在线申请<i class="triangle-top"></i></a>
      </ul>
    </div>
  </div>
  <!-- 选项卡tab 结束 -->
  <script type="text/javascript">
    WJF.uiTool.initTab("J_agentTab",{
      onBeforeChange:function(tabId,currentLi){
        if(currentLi.attr('data-skip')){
          return false;
        }
      }
    });
    $(function(){
      $(".sec-banner").slide({
        mainCell: ".slide-wrapper ul", titCell: '.slide-pagination ul', effect: 'fold',
        // 背景图片属性
        switchLoad: '_bgimg',
        // 背景图片容器
        switchLoadTag: 'a',
        autoPage: true,
        autoPlay: true
      });
    });
  </script>
  <div class="content">
    <div class="wide1190">
      <div class="mode-content">
        <!-- 代理模式 开始 -->
        <div class="wjf-ui-tab-content active" id="agent_1">
          <div class="agent-mode">
            <div class="am-column cl">
              <div class="am-left cl">
                <div class="am-icon b"></div>
                <div class="am-txt">
                  <dl>
                    <dt>适合代理群体：</dt>
                    <dd>需要独立网站的代理能给客户提供全自动的服务，<br>但又不想投入资金或缺乏技术力量的代理。</dd>
                  </dl>
                  <dl>
                    <dt>功 能：</dt>
                    <dd>
                      强大的代理平台!您想要的功能应有尽有！
                      <a href="/agent/youshi.asp" class="link">[系统优势]</a>
                    </dd>
                  </dl>
                  <dl>
                    <dt>&nbsp;</dt>
                    <dd>
                      <i class="am-txt-icon am-txt-icon1">售后支持</i>
                      <i class="am-txt-icon am-txt-icon2">使用方便</i>
                      <i class="am-txt-icon am-txt-icon3">功能强大</i>
                      <i class="am-txt-icon am-txt-icon4">开源免费</i>
                      <i class="am-txt-icon am-txt-icon5">一键升级</i>
                      <i class="am-txt-icon am-txt-icon6">独立运行</i>
                    </dd>
                  </dl>
                  <dl>
                    <dt>加入条件：</dt>
                    <dd>
                      {companyname}任意级别的代理商。<span>赠送价值500元代理平台</span>
                    </dd>
                  </dl>
                  <dl>
                    <dt>平台价格：</dt>
                    <dd>
                      <span class="price">完全免费</span>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="am-right">
                <a class="sm-btn sm-btn1" href="/agent/apply.asp" target="_blank">成为代理</a>
                <a class="sm-btn sm-btn2" href="/agent/mode-b.asp" target="_blank">详细介绍</a>
                <a class="sm-btn sm-btn2" href="http://agentdemo.west263.com" target="_blank">在线演示</a>
              </div>
            </div>
            <div class="am-column cl" style="border-bottom: none">
              <div class="am-left cl">
                <div class="am-icon d"></div>
                <div class="am-txt">
                  <dl>
                    <dt>适合代理群体：</dt>
                    <dd>拥有网站的站长等</dd>
                  </dl>
                  <dl>
                    <dt>功 能：</dt>
                    <dd>
                      该模式主要是通过你网站上的一个带有我公司标志的链接，当客户通过该链接进入我公司电子商务平台时，
                      系统会自动记录你的代理号，在我们平台上在线购买的产品，都会自动添加到你的代理号之下,并按一定的返点返款给你。
                    </dd>
                  </dl>
                  <dl>
                    <dt>加入条件：</dt>
                    <dd>
                      {companyname}注册用户</span>
                    </dd>
                  </dl>

                </div>
              </div>
              <div class="am-right">
                <a class="sm-btn sm-btn1" href="/agent/vcp_reg_d.asp" >成为代理</a>
                <a class="sm-btn sm-btn2" href="/agent/mode-d.asp" target="_blank">详细介绍</a>
              </div>
            </div>

          </div>
        </div>
        <!-- 代理模式 结束 -->
        <!-- 代理级别 开始 -->
        <div class="wjf-ui-tab-content " id="agent_2">
          <div class="agent-level">
            <div class="al-title">加入条件</div>
            <div class="pt-10">
              <p>可以独立承担民事责任的个人或企业单位</p>
              <p>可以独立为您所发展的用户开据合法有效的服务票据</p>
              <p>可以为用户提供必要的技术服务与咨询服务</p>
              <p>应当拥有固定的服务场所</p>
              <p>具有比较丰富的互联网络技术经验与从业背景</p>
              <p>具有便利的上网通讯条件及必要的设备</p>
              <p>个人需要提交个人身份证复印件，企业提交企业营业执照复印件</p>
              <p>需要交付一定的预交款，该款项是为您注册域名、购买网站所用，有了预付款您可以方便的申请业务，并由系统自动扣除费用，节约您的宝贵时间。</p>
              <p>认可 {companyname}的品牌和产品，遵守{companyname}代理管理规定</p>
              <p>其他未展示完整的条件以双方的约定或协议为准</p>
              <p style="color: #fa3a3a;">加盟代理需要联系渠道部签定相关代理协议并支付预付款项，限周一至周五上班时间办理。</p>
            </div>
            <div class="al-title">
              代理级别
              <span>（注：首次预付款金额均不含用于域名交易push的金额）</span>
            </div>
            <ul class="al-list cl horizontal-center">
              <li>
                <div class="column">
                  <i class="al-icon al-icon1"></i>
                  <p>
                    首次预付款最低金额<span>1000元</span><br>
                    或者一年内累计消费额达到
                    <span>2000元</span>后，<br>
                    预付
                    <span>600元</span>可以升级为银牌合作伙伴
                  </p>
                  
                </div>
              </li>
              <li>
                <div class="column">
                  <i class="al-icon al-icon2"></i>
                  <p>
                    首次预付款最低金额<span>2000元</span><br>
                    或者一年内累计消费额达到
                    <span>4000元</span>后，<br>
                    预付
                    <span>1200元</span>可以升级为金牌合作伙伴
                  </p>
                  
                </div>
              </li>
              <li>
                <div class="column">
                  <i class="al-icon al-icon3"></i>
                  <p>
                    首次预付款最低金额<span>4000元</span><br>
                    或者一年内累计消费额达到
                    <span>8000元</span>后，<br>
                    预付
                    <span>2400元</span>可以升级为白金合作伙伴
                  </p>
                  
                </div>
              </li>
              <li style="padding-right: 0;">
                <div class="column">
                  <i class="al-icon al-icon4"></i>
                  <p>
                    首次预付款最低金额<span>6000元</span><br>
                    或者一年内累计消费额达到
                    <span>12000元</span>后，<br>
                    预付
                    <span>3600元</span>可以升级为钻石合作伙伴
                  </p>
                  
                </div>
              </li>
            </ul>
            
          </div>
        </div>
        <!-- 代理级别 结束 -->
        <!-- 平台介绍 开始 -->
        <!-- 跳转页面sys -->
        <!-- 平台介绍 结束 -->
        <!--加盟必读 开始-->
        <div class="wjf-ui-tab-content " id="agent_4">
          <div class="agent-join">
            <!--加盟必读1-6 开始-->
            <div class="aj-top cl">
              <div class="aj-left cl">
                <div class="aj-icon aj-icon1"></div>
                <div class="aj-txt">
                  <h5>做省心的分销商</h5>
                  <p>
                    {companyname}拥有良好的口碑、高品质的产品和服务，15年经营，100万用户的选择！国内3强主机服务商,
                    ICANN、CNNIC双认证顶级域名注册商，被CNNIC评为四级星注册服务机构，与我们合作可免除您的后顾之忧，服务品质有保障！
                  </p>
                </div>
              </div>
              <div class="aj-right">
                <div class="aj-icon aj-icon2"></div>
                <div class="aj-txt">
                  <h5>可分销的产品类型</h5>
                  <p>
                    {companyname}提供完善的产品线，成为 {companyname}合作伙伴后您可分销域名、虚拟主机，vps、云主机、数据库、
                    企业邮局、服务器租用、托管、网店、成品网站系统等所有产品。
                  </p>
                </div>
              </div>
            </div>
            <div class="aj-top cl">
              <div class="aj-left cl">
                <div class="aj-icon aj-icon3"></div>
                <div class="aj-txt">
                  <h5>给力的分销平台</h5>
                  <p>
                    加盟立即拥有一个独立的分销平台系统，其中包括会员注册、域名注册、虚拟主机、企业邮局、数据库、
                    即时开通管理，在线支付功能，只要代理账号上有足够的预付款，您的用户随时可以在您平台上在线开通业务，
                    提供"客服托管"功能，可在代理平台或独立控制面板以您的身份代答您客户的问题，既能保护您的独立品牌，又可免除售后服务压力。
                  </p>
                </div>
              </div>
              <div class="aj-right">
                <div class="aj-icon aj-icon4"></div>
                <div class="aj-txt">
                  <h5>做分销商需要的条件</h5>
                  <p>
                    只要您有志于拓展此领域的业务，具备一定的专业知识和基本的服务水平，就可以加盟 {companyname}的代理商或合作伙伴。
                  </p>
                </div>
              </div>
            </div>
            <div class="aj-top cl">
              <div class="aj-left cl">
                <div class="aj-icon aj-icon5"></div>
                <div class="aj-txt">
                  <h5>加盟流程</h5>
                  <p>
                    了解 {companyname}，注册成为 {companyname}会员，<a class="orange-link" href="/agent/apply.asp" target="_blank">在线提交申请 </a>
                    或联系页面左边渠道专员商洽合作详情，
                    预付款后联系渠道专员提升代理级别(周一至周五正常上班时间)，在线签订电子合同，完成申请手续。
                  </p>
                </div>
              </div>
              <div class="aj-right">
                <div class="aj-icon aj-icon6"></div>
                <div class="aj-txt">
                  <h5>查看代理价格</h5>
                  <p>
                    请联系代理专员。
                  </p>
                </div>
              </div>
            </div>
            <!--加盟必读1-6 结束-->
            <!--渠道管理政策 开始-->
            <div class="aj-bottom">
              <div class="aj-title">
                <h4> {companyname}渠道管理政策</h4>
              </div>
              <div class="aj-bottom-content cl">
                <h3>1</h3>
                <p>
                  使用 {companyname}的品牌或 {companyname}的代理商身份进行销售时，<b class="blue">虚拟主机邮局类</b>
                  的最终客户价格<b class="orange">不得低于8折</b>，<b class="blue">VPS和云主机</b>产品<b class="orange">不得低于9折</b>；
                  以自有品牌销售时不受以上限制。如违反此规定， {companyname}将对代理商降级或罚款处理（每次罚款<b class="orange">500元起</b>，从代理帐号中直接扣除）。
                </p>
              </div>
              <div class="aj-bottom-content cl">
                <h3>2</h3>
                <p>
                  代理商预付款为必须完成的业绩，代理商预付款未使用完，不得要求退还预付款余额.<br>
                  代理单次预付款要求:<br>
                  <span><b class="blue">银牌代理</b>每次预付款至少<b class="orange">300元</b>；</span><br>
                  <span><b class="blue">金牌代理</b>每次预付款至少<b class="orange">500元</b>;若一年内消费额超过<b class="orange">2000元</b>的，单次预付款达到<b class="orange">200元</b>以上即可；</span><br>
                  <span><b class="blue">白金代理</b>每次预付款至少<b class="orange">600元</b>;若一年内消费额超过<b class="orange">3500元</b>的，单次预付款达到<b class="orange">200元</b>以上即可；</span><br>
                  <span><b class="blue">钻石代理</b>每次预付款至少<b class="orange">800元</b>;若一年内消费额超过<b class="orange">5000元</b>的，单次预付款达到<b class="orange">200元</b>以上即可；</span><br>
                  该政策是针对老代理的考核，新加盟代理预付款标准请<a class="blue-link-" href="/agent/level.asp" target="_blank">点击这里</a>查看
                </p>
              </div>
              <div class="aj-bottom-content cl">
                <h3>3</h3>
                <p>
                  代理商不得以 {companyname}"办事处"、"地区代理"或"总代理"、"西部数据"等具有垄断性、排他性和其它未经 {companyname}授权的名义进行广告宣传及商业活动。
                  代理不得做出任何引人误解或引起混淆的行为，未经我司书面许可,任何代理不能擅自使用我司官方信息(如:营业执照、
                  版权、ICP等)使他人误以为代理是 {companyname}子公司或分公司、关联公司、总代理或其他实质性关系单位。
                  使用 {companyname}的 logo 必须加上" {companyname}代理商"字样。代理商不得使用 {companyname}、 {companyname}代理、 {companyname}代理商,等词进行搜索引擎付费推广。
                </p>
              </div>
              <div class="aj-bottom-content cl">
                <h3>4</h3>
                <p>
                  {companyname}为代理商提供的一台500M代理平台空间，仅能放置我司提供的代理平台程序，禁止放任何其他无关的程序，
                  否则我司将关闭您的代理平台并删除相关的数据。代理平台有效期内最低消费要求<b class="orange">>=1000元</b>，如未达到的，到期后需自行续费。
                </p>
              </div>
              <div class="aj-bottom-content cl">
                <h3>5</h3>
                <p>
                  代理需共同维护 {companyname}品牌及美誉度，不得在网络上散布对 {companyname}不利的言论信息，否则 {companyname}有权提前中止与代理的代理合作关系。
                </p>
              </div>
              <div class="aj-bottom-content cl">
                <h3>6</h3>
                <p>
                  {companyname}有权根据代理商考核标准及代理实际销售情况，动态调整乙方享受的代理级别和代理价格。
                </p>
              </div>
            </div>
            <!--渠道管理政策 结束-->
          </div>
        </div>
        <!--加盟必读 结束-->

      </div>
    </div>
  </div>
</div>
{#bottom.html}
</body>
</html>
