<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>代理模式 B模式详细介绍-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
    <meta name="description" content="代理模式 B模式详细介绍-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.14年成功服务经验，数万家成功企业案例.">
    <meta name="keywords" content="代理模式 B模式详细介绍-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
    <link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
    <script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
</head>
<body class="min990">
{#top.html}
<div class="gray-bg pt-40">
    <div class="wide1190">
        <div id="SiteMapPath">
            <ul>
                <li><a href="/">{companyname}首页</a></li>
                <li><a href="/agent/">代理专区</a></li>
                <li><a href="/agent/mode-b.asp">代理模式 B模式</a></li>
            </ul>
        </div>
    </div>

    <div id="MainContentDIV">
<div class="mode-content mode-agent-content">
    <p id="MainRight">
        <p id="AgentList">
            <div class="Model_div Model_b_class"></div>
            <div id="Model_info">
                <div class="mc-title b"><i></i></div>
                <h5>B模式适合群体:中小型代理商</h5>
                <div class="Model_info_content">
                    <p>假如您在不想太多资金投入的前提下， 同时又希望为您的客户提供先进的自动系统来提高服务水平、降低服务成本，那么{companyname}VCP代理体系的B模式将会是您的首选！<span class="OrangeText">免费</span>拥有一个和{companyname}完全一样网站，包括：拥有一个独立的网站系统，包括会员注册、域名注册、虚拟主机、邮局即时开通等功能，MSSQL数据库完全独立，并拥有跟{companyname}完全一致的系统功能。您只要在{companyname}中有足够的预付款，您的用户即可以在您的网站进行任何即时交易。</p>
                    <p>
                        系统的主要特色有：开源免费、模板分离使用方便、可以不依赖于上级代理独立运行、客服托管系统,降低售后服务压力、在线升级、无限级别代理平台、免费集成新网万网等五大域名注册接口、功能强大界面美观等...</p>
                </div>
                <h5>B模式概述</h5>
                <p>B模式提供给您一个完整的域名主机自助业务平台，让您能够以自己的形象和品牌给您的下属客户提供服务，而且所有线完成。</p>
                 <p>{companyname}VCP体系B模式是把一个完善IDC系统免费给代理商使用。</p>
                <p> 这个INTERNET系统可以使用代理商自己的域名，网站体现出代理商的形象。通过网站模版的选择和网页的修饰，代理商可以自己定制出符合自己形象的网站。代理商不需要准备任何软硬件以运行这个网站，而是由{companyname}以免费租用的形式提供。</p>
                <p> B模式适合于大部分需要有自己独立网站的代理商，他的下属客通过这个网站进行注册、登陆、购买产品并且管理业务--这些都不需要代理商为客户操作，而是由客户自行进行，这样让B模式代理商摆脱替客户操作的繁琐过程，而能够把精力和人力放在发展客户，开拓市场。</p>
                <p> B模式网站能够实现域名主机和邮局的实时开设和管理，并且B模式代理商能够在后台进行客户、业务、订单、财务、价格、客服的管理。</p>
                <p> B模式代理商的下属代理商和最终用户也可以自行在后台进行属于自己的相关操作，比如修改资料、查看帐单、操作业务等。支持无限级代理平台！更多介绍</p>

                </div>
                <h5>B模式能给您什么</h5>
                <div class="Model_info_content RedLink">
                    <p>{companyname}B模式给您一个免费且又全自动的销售系统的网站。 B模式是一种共享系统租用。 各个系统之间是完全独立的，互不干涉。您一开始通过选择网站模版来确定自己的B模式网站的基本框架，然后上载自己的商标，并填充相关的文字材料，就可以发布自己的B模式网站。尔后您做好域名解析工作，这个B模式网站就可以供人访问了。网站发布后，该代理商的下属客户或者下属代理商就可以通过注册获得用户名，并可以登陆到用户中心购买产品或者管理业务。您的用户名登陆B模式网站后，获得最高管理权限，可以对下属客户进行一切管理。 </p>
                    <p>系统包含如下模块：</p>
                    <p>1、域名实时注册管理模块(含{companyname}、万网、新网、新网互联、商务中国五家域名注册接口)</p>
                    <p>2、虚拟主机实时开设管理模块</p>
                    <p>3、企业邮局实时开设管理模块</p>
                    <p>4、MSSQL数据库开设管理模块</p>
                    <p>5、非实时产品的订单提交模块（包括网站推广、租用托管产品等）</p>
                    <p>6、订单录入模块</p>
                    <p>7、财务管理模块</p>
                    <p>8、系统设置模块 </p>
                    <p>9、产品定义模块</p>
                    <p>10、会员管理模块</p>
                    <p>11、信息通讯管理模块</p>
                    <p>12、日志管理模块</p>
                    <p>13、产品控制面板模块</p>
                    <p> 14、代理平台模块</p>
                    <p> 在线演示

                                    测试用户名：<strong class="redColor">admin</strong> ,密码：<strong class="redColor">admin888</strong></p>


                </div>
                <h5>申请条件</h5>
                <p>任何级别的代理商均可免费开通代理平台。如果一年内消费&gt;=1000元，则代理平台会自动续费一年，否则需要花100多元进行续费。</p>
                <h5>代理须知</h5>
                <p>{companyname}为代理商提供的200M代理平台空间，仅能放置我司提供的代理平台程序，<span class="OrangeText">禁止放任何其他无关的程序</span>，否则我司将关闭您的代理平台并删除相关的数据。</p>

                <div class="text-c mt-20"><a href="/agent/apply.asp" class="common-btn agent-btn">立即申请代理</a></div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>

{#bottom.html}
</body>
</html>
