<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>续租服务-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="续租服务-{companyname}是西南地区最大的虚拟主机、域名注册、服务器租用服务商！20项虚拟主机领先优势，30000用户的共同选择!领先的虚拟主机技术,配合NAS存储设备、ddos防火墙，为您打造性价比最高的虚拟主机!全国领先的双线路虚拟主机，南北畅通无阻！Cn域名58元起！">
<meta name="keywords" content="续租服务-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/AboutUs.css" rel="stylesheet" type="text/css">
<script src="/Template/Tpl_05/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
<li><a href="/CustomerCenter/renew.asp">续租服务</a></li>

    </ul>
  </div>
<div id="MainContentDIV">
 {#CustomerCenterLeft.html}

<div id="MainRight">
      <div id="DomainFlash"><img src="/Template/Tpl_05/newimages/Customercenter/Renewal.jpg" width="738" height="173" /></div>
      <div id="Cloud_Content_Box" class="RedLink">
        <div id="Title_info"><img src="/Template/Tpl_05/newimages/Customercenter/info_Title_pic_Renewal.jpg" width="290" height="61" /></div>
        <div id="content_Div">
                      
              <p><span class="B">续费业务具体请联系客户服务部：</span><br />
            
            
          续费专线： {telphone}</p>
              <p>QQ: <!-- BEGIN oicqlist -->
				<img border="0" src=http://wpa.qq.com/pa?p=1:{oicq}:4 alt="点击发送消息给对方">{oicq}
		  <!-- END oicqlist --> </p>
              <p>E-mail: {supportmail}
                
                
                <br />
                负责日常业务处理；接洽、处理续租业务。
                
                
              续租业务办理步骤 </p>
<h3>办理续费方法一：(通过自助系统递交续租)</h3>
                <ol>
                <li>登录{companyname}网站，输入您的用户名和密码登录管理中心</li>
                  <li>在管理中心&gt;业务管理   中可以查询出近期即将到期的业务。</li>
                  <li>通过邮局汇款、银行汇款或网上支付等方式办理汇款支付续租费用</li>
                  <li>将汇款底单传真至{faxphone}   或者填写<a href="/manager/default.asp?page_main=%2Fmanager%2Fuseraccount%2Fpayend%2Easp">汇款确认</a></li>
&quot;续租&quot;字样) </p></ol>
                <h3>办理续费方法二：（请{companyname}业务员代替完成续租）</h3>
          <ol>
                <li>通过邮局汇款、银行汇款或招商行一网通网上支付等方式办理汇款 </li>
                  <li>在 <a href="/manager/default.asp?page_main=%2Fmanager%2Fuseraccount%2Fpayend%2Easp">汇款确认</a> 填写，在汇款用途处选择为&ldquo;续费&rdquo;，并在备注处注明   要续费的业务类型。</li>
                  <li>我司业务人员在收到该汇款确认后将会替您完成续费操作。</li>
				            
          </ol>
            
            
              <h3>特别注意提示：</h3>
                  <ol><li>为了及时准确地办理您的续租业务，请您汇款时在附言中注明续租业务明细，并及时将汇款凭证传真给我们，以便处理。(在传真上注明您的用户名、续租业务明细及您的要求，并注明&quot;续租&quot;字样)。</li>
                  <li>如果您未能及时缴纳域名费用，您的宝贵域名将会被internic(国际互联网络信息中心)视为自动放弃而删除，因此类原因造成的后果将由用户承担。</li>
                  <li>如果您的联系方式有任何变更，请登录{companyname}网站，输入您在{companyname}注册的用户ID和密码进入用户电子商务平台，点击页面左上方功能列表中的&quot;用户信息管理&quot;项，修改您的联系方式。以便我们可以及时联系到您，非常感谢您对我们的大力支持与合作。</li>
          </ol>
 
        </div>
      </div>
    </div>

</div>
</div>
{#bottom.html}
</body>
</html>
