<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>购买流程-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/AboutUs.css" rel="stylesheet" type="text/css">
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
<li><a href="/customercenter/">客服中心</a></li>

    </ul>
  </div>
<div id="MainContentDIV">
 {#CustomerCenterLeft.html}
 
 <div id="MainRight">
     
      <div id="Cloud_Content_Box" class="RedLink">
        <div id="Title_info"><img src="/Template/Tpl_05/newimages/Customercenter/info_Title_pic_Agreement.jpg" width="290" height="61" /></div>
        <div id="content_Div">
          <h3>{companyname}<strong>云主机</strong><strong>产品租用</strong>合同</h3>
          <div id="pay_note">
            <p align="center">&nbsp;</p>
            <p>甲&nbsp;&nbsp; 方 ：云主机购买申请方<br />
              乙方：<a href="/">{companyname}</a><br />
              ({companyname}运营商{companynameurl})</p>
            <p><strong>第一条&nbsp;</strong><strong>合同项目与定义</strong></p>
            <p>云主机主机租用是指甲方租用属于乙方所有的云主机服务器，该服务器置于乙方网络环境，从而为Internet 上的用户提供信息服务。乙方负责该服务器的硬件基本配置和软件安装和服务器硬件故障的排除，甲方按照本合同的约定购买相关软件使用权。 除非明确注明，本合同所涉及的云主机服务器租用以下统称&ldquo;服务器&rdquo;。&nbsp;<br />
              本合同中&ldquo;双方&rdquo;仅指本合同的缔约方，即上述甲方和乙方。&nbsp;<br />
              <strong>第二条&nbsp;</strong><strong>双方的权利和义务</strong></p>
            <p>甲方的权利和义务&nbsp;<br />
              甲方利用服务器进行以www为主的信息服务，同时可以配置和使用Email、FTP、Telnet等Internet功能和数据库，可以安装甲方需要的软件。&nbsp;<br />
              &nbsp;甲方不得将服务器用作代理服务器（Proxy）。&nbsp;<br />
              若甲方利用服务器进行以非www为主的服务，甲方应事先向乙方说明，由双方签署相关协议，&nbsp;<br />
              甲方承诺不进行：利用服务器从事Internet上为国家法律法规或公共道德所禁止的或不欢迎的活动，包括但不限于散布电子邮件广告（SPAM）、违反国家法律法规政策的任何内容（信息）；涉及国家秘密和/或安全的信息；封建迷信和/或淫秽、色情、下流的信息；博彩有奖、赌博游戏；违反国家民族和宗教政策的信息；侵害他人合法权益的信息和/或其他有损于社会秩序、社会治安、公共道德的信息或内容。甲方同时承诺不得为他人发布上述不符合国家规定和/或本合同约定的信息内容提供任何便利，包括但不限于URL、BANNER链接等。甲方承认乙方有权根据乙方自己谨慎的判断来决定甲方发布的内容是否构成违反合同或者国家的有关规定。<br />
              如果甲方利用本合同服务进行的经营、活动需要获得国家有关部门的认可或批准的，甲方应获得该有关的认可或批准。但乙方没有义务审查甲方是否具有该认可或批准，出现问题也由甲方自行解决或者承担相关责任，与乙方无关。 根据信息产业部的备案管理规定里的&quot;先备案后接入&quot;的原则，甲方需确保服务器内运行的所有网站都已备案。如因甲方通过托管设备传输信息的行为或内容存在未备案、不合法、不合规或侵权（以司法机关或国家有关管理机关的判定为准）而导致乙方对外承担责任的，甲方应负责解决，并赔偿乙方由此遭受的全部损失；否则乙方有权对甲方的服务器进行停机、扣留数据等方式进行处理。同时乙方有权直接终止本协议，已收服务费用不予退还。&nbsp;<br />
              甲方如果在服务器上安装软件，所需要的软件版权/许可/使用权由甲方自行解决。&nbsp;<br />
              甲方对使用服务器所引起的任何经济、政治、法律等责任负完全责任。甲方同意，如发生上述事件，与乙方没有任何关系，乙方也不应对此或对第三方承担任何责任或者义务。&nbsp;<br />
              甲方对甲方自己存放在服务器上的数据的完整性和保密性负责,甲方应为自己的关键性数据进行定期本地备份；乙方不对甲方数据的丢失、损坏及其连带责任、预期收益负责。因乙方的过失、过错、硬件损坏等原因导致甲方数据丢失或其他损失的，乙方最高赔偿限额不超过甲方已向乙方支付的款项总额。&nbsp;<br />
              甲方应向乙方提交甲方执行本合同的联系人和联系方式，并在上述信息发生变化时及时通知乙方。甲方在乙方需要时应提供必要的协助，因甲方以上人员（包括已经离开甲方的甲方原雇员）的行为或者不作为而产生的后果均由甲方承担。&nbsp;<br />
              除非双方另有书面约定，甲方承认乙方向甲方提供的任何资料、软件、数据等的权利属于乙方，甲方无权复制、传播、转让、许可或提供他人使用这些资源，否则应承担相应的责任。&nbsp;<br />
              甲方应向乙方提供甲方的身份证复印件；&nbsp;<br />
              甲方应按时向乙方交纳本合同约定的费用。&nbsp;<br />
              2-2&nbsp;&nbsp;&nbsp;&nbsp; 乙方的权利和义务</p>
            <p>按照本合同附件的规定为甲方提供服务器并接入Internet。并协助甲方进行设备的相关调测。&nbsp;<br />
              网络不低于99.9%的网络联通率。&nbsp;<br />
              因乙方原因，造成服务器的正常工作中断，乙方以小时为单位，以月费为基数，按平均每小时费用的二倍向甲方赔偿。但以当月的月费为中断赔偿的最高限。&nbsp;<br />
              对服务器的进行日常维护和监控，以保证甲方信息服务器的正常运行。&nbsp;<br />
              保留因甲方违反本合同2-1中相关条款而终止服务器运行的权利。&nbsp;<br />
              除非双方另有书面约定，乙方承认甲方自己存放在服务器上的任何资料、软件、数据等的知识产权均与乙方无关，乙方无权复制、传播、转让、许可或提供他人使用这些资源，否则应承担相应的责任。&nbsp;<br />
              按照本合同收取相关费用。&nbsp;<br />
              甲方自行安装软件或进行系统配置如导致系统无法使用，需要乙方进行恢复的，乙方有权要求甲方支付相应的服务费用。&nbsp;&nbsp;<br />
              乙方因网络调整（如机房整治，调换机架等）原因，有权变更甲方服务器的网络设置（如ip,交换机接口等），但须提前通知甲方。&nbsp;<br />
              乙方免费为甲方代办十个主体的非经营性网站备案服务,甲方需如实向乙方提供备案资料，且服务中止后，乙方有权取消相关备案的接入服务&nbsp;<br />
              乙方有权根据实际情况决定取消为甲方提供的一项或多项服务，但应提前通知甲方并退还甲方为该服务所交纳款项的剩余部分，除此之外乙方不承担任何责任<br />
              <strong>第三条&nbsp;</strong><strong>服务内容、费用及支付方法</strong></p>
            <p>本合同的详细服务内容由附件描述。&nbsp;<br />
              本合同所涉及的费用为连续支付的月费。其涉及的金额一律以人民币元为单位。&nbsp;<br />
              甲方在申请云主机服务前按双方事先约定的价格标准将足够的款项汇入甲方在乙方的帐户中，&nbsp;<br />
              乙方将于收到首付款后_1_个工作日内为甲方开通服务器。&nbsp;<br />
              如甲方付款逾期，除补交应付金额外，其拖欠的天数每天按应付金额的0.3%另付滞纳金。&nbsp;<br />
            </p>
            <p><strong>第四条&nbsp;</strong><strong>合同期限</strong></p>
            <p>本合同有效期为____个月。起始日从服务器开通之日起计算。在合同到期时，双方如需要继续合作并对本合同无异议，则本合同自动顺延。如双方认为某些条款需要修改，届时双方另签合同。&nbsp;<br />
              如果在合同期间或期满之后甲方需要乙方的其他服务，双方另签合同。&nbsp;<br />
              本合同签订后，经双方协商一致，可以变更本合同，但应当以书面形式确认。&nbsp;<br />
              发生下列情形本合同期限则按照以下情况计算：&nbsp;<br />
              4-4-1 双方协商一致变更本合同期限；&nbsp;<br />
              4-4-2 甲方严重违反本合同，乙方提前终止合同；<br />
              4-4-3 合同约定或者法律法规规定的其他期限。&nbsp;<br />
              <strong>第五条&nbsp;</strong><strong>合同解除、终止及违约责任&nbsp;</strong><br />
              5-1 本合同在下述情形下终止，双方互不负责，但终止方应书面通知另一方：&nbsp;<br />
              一方当事人主体资格消失，如破产。但进行重组、名称变更或者与第三方合并等不在此列。&nbsp;<br />
              一方严重违反本合同，另一方根据本合同的约定解除本合同。&nbsp;<br />
              因不可抗力而解除本合同或者双方当事人协商一致解除本合同的。&nbsp;<br />
              依法律法规规定的情形而终止。&nbsp;<br />
              本合同到期后，如果甲方没有按时支付续约款项，则双方认同本合同执行终止。乙方届时将关闭云主机服务器。&nbsp;<br />
              采用月付款形式的客户，需要到期前两天向乙方支付下月租用费用，过期后乙方将关闭云主机服务器.关闭云主机后甲方没有联系乙方协商续费事宜也未续费的，视为双方合同正式解除，届时乙方将重装该云主机主机，乙方不再保留甲方的数据。&nbsp;<br />
              由于一方不履行协议约定的义务，或严重违反本合同约定的义务，造成本合同无法履行或履行不必要时，视作违约方片面终止本合同，守约方除有权向违约方索赔外，并有权终止本合同。&nbsp;<br />
              <strong>第六条&nbsp;</strong><strong>责任限制</strong></p>
            <p>乙方在进行服务器配置、维护时需要短时间中断服务，或者由于Internet上通路的阻塞造成甲方服务器访问速度下降，甲方均认同是正常情况，不属于乙方违约。鉴于计算机及互联网的特殊性，因黑客、病毒、电信部门技术调整等引起的事件，甲方亦认同不属于乙方违约。&nbsp;<br />
              在履行本合同时，乙方对因第三方的过错或者延误而给甲方或者其他第三方造成的损失不负责任。&nbsp;<br />
              乙方对通过甲方间接接受乙方服务的第三方的损失不负责任。&nbsp;<br />
              由于乙方过错造成甲方遭受损失的，乙方最高赔偿限额不超过甲方已向乙方支付的款项总额。&nbsp;<br />
              <strong>第七条&nbsp;</strong><strong>争议解决</strong></p>
            <p>各方在履行本合同过程中发生的纠纷由各方友好协商，协商不成可依法向成都市人民法院起诉。</p>
            <p><strong>第八条&nbsp;</strong><strong>不可抗力</strong></p>
            <p>任何一方遇有不可抗力而全部或部分不能履行本合同或迟延履行本合同，应自不可抗力事件发生之日起五日内，将事件情况以书面形式通知另一方，并于事件发生之日起二十日内，向另一方提交导致其全部或部分不能履行或迟延履行的证明。&nbsp;<br />
              遭受不可抗力的一方应采取一切必要措施减少损失，并在事件消除后立即恢复本合同的履行，除非此等履行已不可能或者不必要。&nbsp;<br />
              本条所称&ldquo;不可抗力&rdquo;系指不能预见、不能避免或不能克服的客观事件，包括但不限于自然灾害如洪水、火灾、爆炸、雷电、地震和风暴等以及社会事件如战争、动乱、政府管制、国家政策的突然变动和罢工等。&nbsp;<br />
              <strong>第九条&nbsp;</strong><strong>保密&nbsp;</strong><br />
              9-1 任何一方对在本合同履行过程中以任何方式获知的另一方商业秘密或其他技术及经营信息均负有保密义务，不得向任何其他第三方透露或泄露，但中国现行法律、法规另有规定或经另一方书面同意的除外。&nbsp;<br />
              <strong>第十条&nbsp;</strong><strong>权利保留&nbsp;</strong><br />
              10-1 任何一方没有行使其权利或没有就对方的违约行为采取任何行动，不应被视为是对权利的放弃或对追究违约责任或义务的放弃。任何一方放弃针对对方的任何权利，或放弃追究对方的任何过失，不应视为对任何其他权利或追究任何其他过失的放弃。所有放弃应书面作出。&nbsp;<br />
              <strong>第十一条&nbsp;</strong><strong>通知</strong></p>
            <p>本合同要求或允许的通知或通讯，不论以何种方式传递，均自被通知一方实际收到时起生效。&nbsp;<br />
              上款中的&ldquo;实际收到&rdquo;系指通知或通讯内容到达被通知人的法定地址或住所或其指定的通讯地址范围。&nbsp;<br />
              一方变更通讯地址或通讯方式，应自变更之日起10个工作日内，将变更后的地址及联系方式通知另一方，否则变更方应对此造成的一切后果承担责任。&nbsp;<br />
              <strong>第十二条&nbsp;</strong><strong>合同的解释、法律适用、生效条件及其他</strong></p>
            <p>本合同的解除、终止或者本合同有关条款的无效均不影响本合同关于合同的解释、违约责任、知识产权、法律适用、责任限制、补偿及争议解决的有关约定的效力。&nbsp;<br />
              本合同的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律、法规、电信管理部门的规定和计算机行业的规范。&nbsp;<br />
              如果本合同任何条款根据适用的现行法律被确定为无效或无法实施，本合同的其他所有条款将继续有效。此种情况下，双方将以有效的约定替换该约定，且该有效约定应尽可能接近原约定和本合同相应的精神和宗旨。&nbsp;<br />
              对本合同的理解与解释应依据合同目的和文本原义及业界通行的理解和惯例进行，并且应当将本合同各条款及有关附件作为一个整体来理解和解释。本合同内的标题不应影响本合同的解释。&nbsp;<br />
              订立本合同所依据的法律、行政法规、规章发生变化，本合同应变更相关内容；订立本合同所依据的客观情况发生重大变化，致使本合同无法履行的，经甲乙双方协商同意，可以变更本合同相关内容或者终止合同的履行。&nbsp;<br />
              在本合同有效期内，因乙方上市、被收购、与第三方合并、名称变更等事由，甲方同意乙方可以将其在本合同中的权利和/或义务转让给相应的乙方权利/义务的承受者，但乙方应保证甲方在本合同中的权益不会因此而受到不利影响。&nbsp;<br />
              甲、乙双方应本着诚实信用的原则履行本合同。任何一方在履行中采用欺诈、胁迫或者暴力的手段，另一方均可以终止本合同并有权要求对方赔偿损失。&nbsp;<br />
              本合同的有关条款或者约定若与双方以前签署的有关条款或者乙方的有关陈述不一致或者相抵触的，以本合同为准。&nbsp;<br />
              未经双方协商一致，本合同项下的权利义务不可转移、许可给第三方，除非一方进行重组、合并或者名称变更，但应通知另一方。&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
	</div>
	</div>
{#bottom.html}
</body>
</html>
