<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{companyname}客服中心－虚拟主机域名注册常见问题</title>
<meta name="description" content="{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.">
<meta name="keywords" content="虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
  <link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
  <link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
  <link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
  <link href="/template/Tpl_2016/css/Customercenter.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
  <script src="/Template/Tpl_05/jscripts/common.js"></script>
</head>
<body class="min990">
{#top.html}
<div id="content">
  <div class="content con-padding">
    <div class="wide1190 cl">
      {#CustomerCenterLeft.html}
      <div id="MainRight" class="content-right cl">


        <div class="cr-search cl">
          <form name="form1" method="post" action="/faq/search.asp">
            <select name="where">
              <option value="title">标题</option>
              <option value="content">内容</option>
            </select>
            <input placeholder="请输入您想了解的问题、关键字或产品名称" name="keyword" id="Keyword"  maxlength="40" type="text">
            <button>搜索问题</button>
          </form>
        </div>
        <ul class="cr-search-list cl">
          <li><a href="/faq/search.asp?keyword=域名&amp;where=title">国际域名</a></li>
          <li><a href="/faq/search.asp?keyword=邮箱&amp;where=title">邮箱设置</a></li>
          <li><a href="/faq/search.asp?keyword=主机&amp;where=title">主机管理</a></li>
          <li><a href="/faq/search.asp?keyword=备案&amp;where=title">ICP备案问题集锦</a></li>
          <li><a href="/faq/search.asp?keyword=mssql&amp;where=title">如何使用SQL数据库</a></li>
        </ul>

        <div id="DiySite_List_Box">
          <div id="DiySite_List_Box_top">
            <ul>
              <li class="mail_tab_center_on" onmouseover="switch_mail_Tab(this)">新手导航</li>
              <li class="mail_tab_center_off" onmouseover="switch_mail_Tab(this)">域名相关</li>
              <li class="mail_tab_center_off" onmouseover="switch_mail_Tab(this)">邮局相关</li>
              <li class="mail_tab_center_off" onmouseover="switch_mail_Tab(this)">空间相关</li>
              <li class="mail_tab_center_off" onmouseover="switch_mail_Tab(this)">汇款相关</li>
              <li class="mail_tab_center_off" onmouseover="switch_mail_Tab(this)">代理相关</li>
            </ul>
          </div>
          <div id="mail_box_list_1" class="DiySite_List_Box_Contet_1">
            <div class="customer_que_pic_1"></div>
            <div class="customer_que_pic_cutline"></div>
            <div class="customer_que_content">
              <ul>
                <li><a href="/faq/list.asp?unid=294">如何成功注册一个用户</a></li>
                <li><a href="/customercenter/buystep.asp">虚拟主机购买流程</a></li>
                <li><a href="/faq/list.asp?unid=173">如何确认域名是否注册成功？</a></li>
                <li><a href="/faq/list.asp?unid=174">我该如何找回我的会员密码？</a></li>
                <li><a href="/customercenter/buystep.asp">域名注册流程演示</a></li>
                <li><a href="/customercenter/buystep.asp">域名注册流程演示</a></li>
              </ul>
              <ul>
                <li><a href="/faq/list.asp?Unid=317">仅有域名的用户如何备案</a></li>
                <li><a href="/faq/list.asp?unid=131" target="_self">中文域名设置方法介绍</a></li>
                <li><a href="/faq/list.asp?unid=327" target="_self">如何获得企业邮局赠品</a></li>
                <li><a href="/faq/list.asp?unid=241">我的邮箱可以扩容吗?</a></li>
              </ul>
            </div>
          </div><div id="mail_box_list_2" class="DiySite_List_Box_Contet_1" style="display:none;">
          <div class="customer_que_pic_2"></div>
          <div class="customer_que_pic_cutline"></div>
          <div class="customer_que_content">
            <ul>
              <li><a href="/faq/list.asp?unid=6" target="_self">怎么添加二级域名?</a></li>
              <li><a href="/faq/list.asp?unid=124" target="_self">选择CN域名的七大理由</a></li>
              <li><a href="/faq/list.asp?unid=7" target="_self">什么是域名解析？</a></li>
              <li><a href="/faq/list.asp?unid=153" target="_self">域名注册常见问题解答</a></li>
              <li><a href="/faq/list.asp?unid=8" target="_self">如何做国际域名解析？</a></li>
              <li><a href="/faq/list.asp?unid=45" target="_self">如何从其他服务商处转入域名</a></li>
            </ul>
            <ul>
              <li><a href="/faq/list.asp?unid=131" target="_self">中文域名设置方法介绍</a></li>
              <li><a href="/faq/list.asp?unid=154" target="_self">域名知识库</a></li>
              <li><a href="/faq/list.asp?unid=104" target="_self">CN域名服务凸现六大优势</a></li>
              <li><a href="/faq/list.asp?unid=125" target="_self">域名到期删除实施方法</a></li>
              <li><a href="/faq/list.asp?unid=148" target="_self">域名选取十技巧</a></li>
            </ul>
          </div>
        </div><div id="mail_box_list_3" class="DiySite_List_Box_Contet_1" style="display:none;">
          <div class="customer_que_pic_3"></div>
          <div class="customer_que_pic_cutline"></div>
          <div class="customer_que_content">
            <ul>
              <li><a href="/faq/list.asp?unid=14" target="_self">如何用asp的jmail发邮件</a></li>
              <li><a href="/faq/list.asp?unid=11" target="_self">如何设置OUTLOOK</a></li>
              <li><a href="/faq/list.asp?unid=138" target="_self">什么是电子邮件地址</a></li>
              <li><a href="/faq/list.asp?unid=21" target="_self">企业邮局使用指南</a></li>
              <li><a href="/faq/list.asp?unid=102" target="_self">如何使用Foxmail收邮件？</a></li>
              <li><a href="/faq/list.asp?unid=128" target="_self">如何加邮局登录接口</a></li>
              <li><a href="/faq/list.asp?unid=150" target="_self">新企业邮局常见问题</a></li>
            </ul>
            <ul>
              <li><a href="/faq/list.asp?unid=103" target="_self">如何在首页上登录企业邮局</a></li>
              <li><a href="/faq/list.asp?unid=40" target="_self">如何有效过滤病毒/垃圾邮件</a></li>
              <li><a href="/faq/list.asp?unid=89" target="_self">什么是POP3？</a></li>
              <li><a href="/faq/list.asp?unid=262" target="_self">为什么要选择企业邮箱</a></li>
              <li><a href="/faq/list.asp?unid=88" target="_self">什么是SMTP？</a></li>
              <li><a href="/faq/list.asp?unid=289" target="_self">如何划分每个邮箱空间大小</a></li>
              <li><a href="/faq/list.asp?unid=260" target="_self">病毒邮件专题</a></li>
            </ul>
          </div>
        </div><div id="mail_box_list_4" class="DiySite_List_Box_Contet_1" style="display:none;">
          <div class="customer_que_pic_4"></div>
          <div class="customer_que_pic_cutline"></div>
          <div class="customer_que_content">
            <ul>
              <li><a href="/faq/list.asp?unid=19" target="_self">如何将域名和虚拟主机绑定</a></li>
              <li><a href="/faq/list.asp?unid=18" target="_self">如何将我的文件上传到服务器</a></li>
              <li><a href="/faq/list.asp?unid=17" target="_self">上传时SocketERROR怎么办</a></li>
              <li><a href="/faq/list.asp?unid=13" target="_self">&ldquo;服务器内部错误&rdquo;怎么办</a></li>
              <li><a href="/faq/list.asp?unid=12" target="_self">如何修改ftp密码？</a></li>
              <li><a href="/faq/list.asp?unid=22" target="_self">为什么不加www不能访问</a></li>
            </ul>
            <ul>
              <li><a href="/faq/list.asp?unid=28" target="_self">关于IIS连接数的几种解释</a></li>
              <li><a href="/faq/list.asp?unid=27" target="_self">如何查看空间使用了多少</a></li>
              <li><a href="/faq/list.asp?unid=144" target="_self">虚拟主机常见问题解答</a></li>
              <li><a href="/faq/list.asp?unid=296" target="_self">我们提供哪些功能组件</a></li>
              <li><a href="/faq/list.asp?unid=283" target="_self">ASP连接access数据库例程</a></li>
              <li><a href="/faq/list.asp?unid=243" target="_self">一个空间能否绑定多个域名</a></li>
            </ul>
          </div>
        </div><div id="mail_box_list_5" class="DiySite_List_Box_Contet_1" style="display:none">
          <div class="customer_que_pic_5"></div>
          <div class="customer_que_pic_cutline"></div>
          <div class="customer_que_content">
            <ul>
              <li><a href="/faq/list.asp?unid=304" target="_self">异地汇款手续费费率</a></li>
              <li><a href="/faq/list.asp?unid=216" target="_self">怎样进行网上付款呢？</a></li>
              <li><a href="/faq/list.asp?unid=242" target="_self">我汇款后多长时间开通？</a></li>
              <li><a href="/faq/list.asp?unid=214" target="_self">业务申请完毕，如何交费？</a></li>
              <li><a href="/faq/list.asp?unid=217" target="_self">是否提供发票？如果索取?</a></li>
            </ul>
            <ul>
              <li><a href="/faq/list.asp?unid=220" target="_self">上门取款问题集锦</a></li>
              <li><a href="/faq/list.asp?unid=219" target="_self">如何进行在线支付</a></li>
              <li><a href="/faq/list.asp?unid=305" target="_self">关于会员间余款转移的规定</a></li>
              <li><a href="/faq/list.asp?unid=215" target="_self">在线支付需要具备哪些必要条件？</a></li>
              <li><a href="/faq/list.asp?unid=218" target="_self">我该如何办理境外汇款？</a></li>
            </ul>
          </div>
        </div><div id="mail_box_list_6" class="DiySite_List_Box_Contet_1" style="display:none;">
          <div class="customer_que_pic_6"></div>
          <div class="customer_que_pic_cutline"></div>
          <div class="customer_que_content">
            <ul>
              <li><a href="/faq/list.asp?unid=235" target="_self">代理分为哪些级别及享受什么权利？</a></li>
              <li><a href="/faq/list.asp?unid=234" target="_self">为什么要支付代理预付款？</a></li>
            </ul>
            <ul>
              <li><a href="/faq/list.asp?unid=233" target="_self">个人是否可以成为代理</a></li>
            </ul>
          </div>
        </div>

        </div>
        <div id="Other_List">
          <ul>
            <li class="other_box_li">
              <div class="head_">常见问题</div>
              <div class="hrclass_blue"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              <div class="list_head_pic_1"></div>
              <div class="list_content">
                <ul>
                  <li><A href="/faq/list.asp?unid=19">如何将域名和虚拟主机绑定?</A></li>
                  <li><A href="/faq/list.asp?unid=18">如何将我的文件上传到服务器？</A></li>
                  <li><A href="/faq/list.asp?unid=11">如何设置OUTLOOK收发邮件？</A></li>
                  <li><A href="/faq/list.asp?unid=17">ftp时Socket ERROR怎么办?</A></li>
                  <li><A href="/faq/list.asp?unid=6">怎么添加二级域名</A>?</li>
                  <li><A href="/faq/list.asp?unid=44">虚拟主机如何升级</A>?</li>
                  <li><A href="/faq/list.asp?unid=14">如何用asp的jmail发邮件</A></li>
                </ul>
              </div>
            </li>
            <li class="other_box_li">
              <div class="head_">相关文档</div>
              <div class="hrclass_blue"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              <div class="list_head_pic_2"></div>
              <div class="list_content">
                <ul>
                  <li><A href="/customercenter/domainagreement.asp" target="_blank">域名注册服务条款</A></li>
                  <li><A href="/customercenter/doc/agent.doc" target="_blank">代理合同</A></li>
                  <li><A href="/customercenter/doc/findpass.doc" target="_blank">会员找回密码申请表</A></li>
                </ul>
              </div>
            </li>
            <li class="other_box_li">
              <div class="head_">视频教程</div>
              <div class="hrclass_blue"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              <div class="list_head_pic_3"></div>
              <div class="list_content">
                <ul>
                  <li>开通免费邮局演示视频</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>

{#bottom.html}
</body>
</html>
