<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>在线域名注册服务条款-{companyname}-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="在线域名注册服务条款-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="在线域名注册服务条款-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/template/Tpl_2016/css/faq.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
<link href="/template/Tpl_2016/css/Customercenter.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
</head>
<body class="min990">
{#top.html}
<div class="content">
  <div class="wide1190 pt-40 cl"> 
    <!--左侧导航 开始-->
    <div class="navbar-left"> {#CustomerCenterLeft.html} </div>
    <!--左侧导航 结束-->
    <div class="Faq_Div cl">
      <div id="SiteMapPath">
        <ul>
          <li><a href="/">{companyname}首页</a></li>
          <li><a href="/customercenter/">客服中心</a></li>
          <li><a href="/CustomerCenter/domainagreement.asp">在线域名注册服务条款</a></li>
        </ul>
      </div>
      <img src="/Template/Tpl_05/newimages/Customercenter/cctetn.jpg" width="100%" height="173" />
      <div id="Cloud_Content_Box" class="RedLink">
        <div id="Title_info"><img src="/Template/Tpl_05/newimages/Customercenter/info_Title_pic_documentatio.jpg" width="290" height="61" /></div>
        <div id="content_Div">
          <div class="contact_inf RedLink">
            <div class="cc_Title B"><strong>在线域名注册服务条款</strong></div>
            <p>　　在以下条款中，&quot;用户&quot;是指委托&quot;{companyname}&quot;代理其在国际域名注册管理机构和中国互联网络信息中心（CNNIC）注册域名的个人（包括自然人、个人合伙和个体工商户等）或者单位（包括公司、企业、合伙企业和事业单位等）。<br />
              用户在此保证所填写的用户信息是真实、准确、完整的，并且没有任何引人误解或者虚假的陈述。用户同意委托&quot;{companyname}&quot; 
              在国际互联网（Internet）上代理其注册域名并同意了以下条款。用户只有同意了下述服务条款才能正式进入在线域名注册程序。<br />
              用户同意此在线域名服务条款之效力如同用户亲自签字、盖章的书面条款一样，对用户具有法律约束力。<br />
              用户进一步同意，用户正式进入在线域名注册程序即意味着用户同意了本在线服务条款的所有条款和争议解决方案。</p>
            <p>&nbsp;</p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第一条 
              项目和术语解释<br />
              1-1用户委托&quot;{companyname}&quot;在国际互联网（Internet）上注册用户申请注册的域名。<br />
              1-2域名注册的术语含义如下：<br />
              1-2-1 国际域名注册：是指用户预先按照&quot;{companyname}&quot;规定的价款和拟注册域名个数向&quot;{companyname}&quot;足额付清款项后委托&quot;{companyname}&quot;向ICANN下任意一个国际域名注册机构进行的国际域名注册，国际域名是指以&quot;.com&quot;、&quot;.net&quot;或以&quot;.org&quot;结尾的顶级域名。<br />
              1-2-2 中国国家顶级域名：是指用户委托&quot;{companyname}&quot;向CNNIC进行的中国国家顶级域名，国内域名是指以&quot;.com.cn&quot;、&quot;.net.cn&quot;、&quot;.gov.cn&quot;或以&quot;.org.cn&quot;结尾的域名。<br />
              1-2-3 域名注册成功：指用户申请注册的域名被域名注册管理机构确认没有在先的相同域名注册或者没有违反域名注册的有关强制性规定并且在规定的期限内收到用户支付的域名注册管理费用以及符合规定的域名申请资料，并由域名管理机构赋予用户一定期限的对该域名的所有权。域名注册是否成功的确认权在域名管理机构。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第二条 
              用户的陈述与保证<br />
              用户承诺并保证已阅读并完全理解了本条款的所有内容，同意按照规定支付款项，遵守用户应承担的所有义务。用户进一步承诺遵守域名管理机构（包括但不限于ICANN下任意一个国际域名注册机构和CNNIC等）的相关政策和规定以及域名争议解决的办法。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第三条 
              金额支付<br />
              3-1 在用户接受本条款之同时，用户应将注册域名的全部款项支付给&quot;{companyname}&quot;。<br />
              3-2 在用户接受本条款后至&quot;{companyname}&quot;收到用户款项并向域名管理机构支付款项之前发生用户申请注册的域名被抢注的，&quot;{companyname}&quot;不承担任何责任。<br />
              3-3 &quot;&quot;{companyname}&quot;收到用户款项&quot;是指&quot;{companyname}&quot;收到用户的邮政汇款单或者银行电汇到帐凭单等原件； 
              &quot;向域名管理机构支付款项&quot;是指该域名管理机构收到该款项。<br />
              3-4 用户应真实、准确、完整地填写用户信息，在付款时也应注明该款项所对应的域名和用户名等以便&quot;{companyname}&quot;核对。若因用户或者其代理人未按照前述要求办理而导致域名未注册成功或者导致域名被域名管理机构取消的，或者发生域名被他人抢注的，均由用户自行承担责任。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第四条 
              服务期限<br />
              服务期限为一年，自域名注册成功之日起算，但下列情形除外：<br />
              4-1 双方协商一致变更的。<br />
              4-2 双方签署的其他合同另有约定的。<br />
              4-3 用户将域名转移到非&quot;{companyname}&quot;域名服务器上的。<br />
              4-4 用户违反本条款、法律规定或者域名管理机构的规定/政策等，&quot;{companyname}&quot;根据规定停止服务的。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第五条 
              用户的权利和义务<br />
              5-1 用户对以其名义注册成功的域名拥有Internet域名注册管理机构（包括但不限于ICANN下任意一个国际域名注册机构和/或CNNIC，下同）赋予的相应的所有权。<br />
              5-2 用户可以在域名注册成功之后的任何时候，将域名保留在&quot;{companyname}&quot;的域名服务器或者转移到其他用户指定的域名服务器上。<br />
              5-3 用户一旦申请域名注册即意味着用户承诺遵守域名注册管理机构现行的及今后修正的对域名注册和争议解决的政策、办法、规定及国家法律法规的有关规定。<br />
              5-4 用户保证申请注册的域名，没有侵犯&quot;{companyname}&quot;或者任何第三方的合法权利包括但限于他人的名称权、商标权和域名权利。如果该申请注册的域名侵犯了&quot;{companyname}&quot;或者任何第三方的权利，由用户承担一切责任。用户承诺承担此次域名注册全过程产生的权利和义务。<br />
              5-5 用户认识到域名注册申请的成功与否是由申请本身及申请时间等因素决定的，&quot;{companyname}&quot;仅以代理身份代为办理有关手续，对域名能否成功注册不提供任何担保。在未与&quot;{companyname}&quot;核实之前，用户不得对外声称自己是该申请域名的所有者，也不得断定域名注册成功或者注册不成功。用户在递交域名注册申请后应主动到NSI网站上的Whois国际域名查询数据库或者CNNIC的网站上查询该域名的法律状态。<br />
              5-6 用户应向&quot;{companyname}&quot;出具授权委托书，向域名管理机构/&quot;{companyname}&quot;提供有关信息并为&quot;{companyname}&quot;的工作提供必要的协助。<br />
              5-7 用户不得利用{companyname}的任何域名注册服务（包括但不限于域名注册服务、DNS服务、域名解析/指向服务、域名绑定、域名转发服务等）及服务器进行与垃圾邮件制造、发送、协助传播有关的行为。如果被发现或被投诉涉及以上行为，为保证绝大多数合法使用者权益，用户需承担相关责任及管理机构冻结该域名使用的一切后果以及按规定做出相关赔偿。<br />
              5-8 用户应按时足额向&quot;{companyname}&quot;缴纳所需的全部费用。另外，如果用户申请国内域名的注册需要提供CNNIC规定的合格的域名注册申请资料。如果在规定的时间内没有足额交费或者提供规定的合格的域名申请注册资料，将被视为自动放弃所注册域名，用户应承担全部后果（包括但不限于被域名注册管理机构取消该域名的注册）。<br />
              5-9 用户同意&quot;{companyname}&quot;没有义务审查用户拟申请注册的域名是否侵犯他人的在先权利；&quot;{companyname}&quot;也没有义务审查他人拟申请注册的域名是否侵犯用户的在先权利。发生上述情形，均与&quot;{companyname}&quot;无关。若有任何第三方对用户注册的域名主张权利，由用户与相关当事人自行协商解决或者通过法律或其他途径解决。用户保证使&quot;{companyname}&quot;不涉入任何上述争议并且不会因此而受到任何损害，否则用户应弥补{companyname}&quot;遭受的所有损失。<br />
              5-10 用户在利用用户提供的信息资源进行信息传播和自我服务时，应严格遵守《中华人民共和国计算机信息网络国际联网管理暂行规定》、《中国公用计算机互联网国际联网管理办法》和《中国互联网络域名注册暂行管理办法》等有关规定。<br />
              5-11 若第三人就注册域名持有者的域名或其使用提出请求、 诉讼或主张，注册域名持有者应当维护我方和其他任何相关的注册管理执行机构(包括但不限于ICANN、VeriSign、PIR、Neustar、Afilias、GNR、DotMobi、DotAsia、Telnic、HKIRC等)的董事、高级职员、一般职员和代理人；注册域名持有者应保证上述机构及个人免受基于以上行为所产生的任何损失、损害、开支、包括合理的律师费用在内的任何损失。 如果损失、损害和费用已经产生，注册域名持有者必须如数赔偿。本损害赔偿并不包括在争议政策所要求的任何损害赔偿中.<br />
              5-12 域名注册成功以后，用户可自行到http://www.internic.com/whois.html核实域名相关信息（如所属注册商、注册年限，DNS等）<br />
              </font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第六条 
              &quot;{companyname}&quot;的权利和义务<br />
              6-1 &quot;{companyname}&quot;为用户办理域名注册的申请注册手续，提交规定的文件并代用户缴纳有关费用。&quot;{companyname}&quot;不以任何明示或者暗示的方式担保用户申请注册的域名能够成功注册。<br />
              6-2 &quot;{companyname}&quot;提交用户委托的域名注册申请以当时在域名管理机构的域名数据库中的注册情况和查询结果为基础，但查询时没有冲突并不表明该域名一定能够注册成功。<br />
              6-3 因域名注册管理机构的原因造成用户域名注册争议的以及出现下列情形的;{companyname}&quot;不承担任何责任：<br />
              6-3-1 用户在线填写域名注册申请表时，域名被其他人抢注；<br />
              6-3-2 由于电信线路和设备问题造成用户的域名被别人抢注；<br />
              6-3-3 用户须填写详细的信息，由于信息不详其注册申请可能被域名注册机构驳回而造成用户域名被他人抢注；<br />
              6-3-4 用户须填写正确的信息，由于信息不正确可能引起所有权纠纷和问题；<br />
              6-3-5 用户未严格按照提示填写申请表，或者由于填写不规范造成注册延误或被他人抢注；<br />
              6-3-6 用户未严格按照规定的期限递交域名注册材料的。<br />
              6-3-7 因域名注册管理机构的系统故障或操作失误导致注册失败或延误。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第七条 
              服务的解除、终止及违约责任<br />
              7-1 在有效服务期限内，如果用户将域名转移到除&quot;{companyname}&quot;以外的其他域名服务器，&quot;{companyname}&quot;的服务义务即告终止。<br />
              7-2 在有效服务期结束后，双方愿意继续合作的，双方同意按照届时有效的新的价格和条款另行商议合作事宜。<br />
              7-3 如果用户所需域名未能注册成功，&quot;{companyname}&quot;将收取的该域名的相应费用退还用户，&quot;{companyname}&quot;无须承担其他任何责任。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第八条 
              争议解决<br />
              8-1 因本服务条款有关的一切争议，双方当事人应通过友好协商方式解决。<br />
              8-2 如果协商未成，双方同意向成都仲裁委员会提交仲裁并接受其仲裁规则。一方提请仲裁的时效为从争议发生之日起一年。<br />
              8-3 本服务条款适用有关域名管理机构（包括但不限于ICANN、NSI、Bulkregister.com和CNNIC等）的域名管理办法、政策和争议解决方案。具体内容详见上述机构的网站www.icann.org; 
              www.nsi.com; www.internic.com; www.bulkregister.com; www.cnnic.net.cn; 
              www.enom.com; www.register.com; www.registrars.com等。<br />
              8-4 若发生任何第三人注册的域名与用户的在先权利发生冲突的，或者发生&quot;抢注用户域名&quot;的，由用户与该第三方自行协商解决、通过法律或者其他途径解决。&quot;{companyname}&quot;对此不应承担任何责任。<br />
              8-5 若发生用户拟注册的域名与他人的在先权利发生冲突的，或者发生&quot;抢注他人域名&quot;的，由用户与该第三方自行协商解决、通过法律或者其他途径解决。&quot;{companyname}&quot;对此不应承担任何责任。<br />
              8-6 用户理解并同意若因&quot;{companyname}&quot;重大过错导致用户申请、注册的域名丢失、被注销的，&quot;{companyname}&quot;的责任上限为该域名费用的两倍。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第九条 
              不可抗力<br />
              9-1 因不可抗力或者其他意外事件，使得本服务履行不可能、不必要或者无意义的，遭受不可抗力、意外事件的一方不承担责任。<br />
              9-2 不可抗力、意外事件是指不能预见、不能克服并不能避免且对一方或双方当事人造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt">第十条 
              其他约定<br />
              10-1 有关条款的无效均不影响条款的解释、违约责任及争议解决的有关约定的效力。<br />
              10-2 本服务条款以在线确认的方式签定，跟双方书面签定的协议一样享有同等的法律效力。<br />
              10-3 如果本服务条款任何规定根据适用的现行法律被确定为无效或无法实施，其他所有条款将继续有效。<br />
              10-4 一方变更通知、通讯地址或其他联系方式，应自变更之日起一个月内，将变更后的地址、联系方式通知另一方，否则变更方应对此造成的一切后果承担责任。用户同意，&quot;{companyname}&quot;的有关通知只需在{companyname}有关网页上发布即视为送达用户。<br />
              10-5 对条款的理解与解释应依据条款目的和文本原义及业界通行的理解和惯例进行，标题不应影响条款的解释。<br />
              10-6 有关条款或者约定若与双方以前签署的有关条款或者&quot;{companyname}&quot;的有关陈述不一致或者相抵触的，以本服务条款为准。<br />
              10-7 在有效服务期内，因&quot;{companyname}&quot;上市、被收购、与第三方合并、名称变更等事由，用户同意&quot;{companyname}&quot;可以将其权利和/或义务转让给相应的&quot;{companyname}&quot;权利/义务的承受者。<br />
              10-8 &quot;{companyname}&quot;有权在必要时修改服务条款，&quot;{companyname}&quot;服务条款一旦发生变动，将会在其网站的重要页面上提示有关内容。用户如果不同意所改动的内容，可以主动取消获得的服务；如果用户继续接受服务，则视为接受本服务条款的变动。</font></p>
            <p align="left"><font style="FONT-SIZE: 9pt; LINE-HEIGHT: 15pt"><br />
              <b>　　用户在此再次保证已经完全阅读并理解了上述在线域名注册服务条款并自愿正式进入在线域名注册程序，接受上述所有条款的约束。本在线域名注册服务条款在用户接受上述条款并且在&quot;{companyname}&quot;收到所有用户应付款项之后生效。</b></font></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{#bottom.html}
</body>
</html>
