<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{companyname}相关文档</title>
<meta name="description" content="相关文档-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="相关文档-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/template/Tpl_2016/css/faq.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/template/Tpl_2016/css/global.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/common.css">
<link rel="stylesheet" href="/template/Tpl_2016/css/tp2016.css">
<link href="/template/Tpl_2016/css/Customercenter.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/template/Tpl_2016/jscripts/jquery-1.11.3.min.js"></script>
</head>
<body class="min990">
{#top.html}
<div class="content">
<div class="wide1190 pt-40 cl">
<!--左侧导航 开始-->
<div class="navbar-left"> {#CustomerCenterLeft.html} </div>
<!--左侧导航 结束-->
<div class="Faq_Div cl">
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
      <li><a href="/customercenter/">客服中心</a></li>
    </ul>
  </div>
  <img src="/Template/Tpl_05/newimages/Customercenter/cctetn.jpg" width="100%" height="173" />
  <div id="Cloud_Content_Box" class="RedLink">
    <div id="Title_info"><img src="/Template/Tpl_05/newimages/Customercenter/info_Title_pic_documentatio.jpg" width="290" height="61" /></div>
    <div id="content_Div">
      <div class="contact_inf RedLink">
        <div class="cc_Title B"><strong>域名</strong></div>
        <table width="95%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td width="4%"><img src="/Template/Tpl_04/images/ie.gif" width="16" height="16" /></td>
            <td width="52%" height="30"><a href="domainagreement.asp" target="_blank">域名注册服务条款</a></td>
            <td width="3%" height="30">&nbsp;</td>
            <td width="41%" height="30">&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="contact_inf RedLink">
        <div class="cc_Title B"><strong>虚拟主机</strong></div>
        <table width="95%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td width="4%"><img src="/Template/Tpl_04/images/doc.gif" width="16" height="16" /></td>
            <td width="52%" height="30"><a href="doc/vhost.doc" target="_blank">虚拟主机服务条款</a></td>
            <td width="3%" height="30">&nbsp;</td>
            <td width="41%" height="30">&nbsp;</td>
          </tr>
        </table>
      </div>
      <div class="contact_inf RedLink">
        <div class="cc_Title B"><strong>其它</strong></div>
        <table width="95%" border="0" cellspacing="0" cellpadding="3">
          <tr>
            <td width="4%"><img src="/Template/Tpl_04/images/ie.gif" width="16" height="16" /></td>
            <td width="52%" height="30"><a href="zhongzhang.asp" target="_blank">服务总章</a></td>
            <td width="3%" height="30"><img src="/Template/Tpl_04/images/doc.gif" width="16" height="16" /></td>
            <td width="41%" height="30"><a href="doc/agent.doc" target="_blank">代理合同</a></td>
          </tr>
          <tr>
            <td><img src="/Template/Tpl_04/images/doc.gif" width="16" height="16" /></td>
            <td height="30"><a href="doc/findpass.doc">会员找回密码申请表</a></td>
            <td height="30">&nbsp;</td>
            <td height="30">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
{#bottom.html}
</body>
</html>
