<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{companyname}-客户演示</title>
<meta name="description" content="{companyname}动态域名，专业动态域名解析服务，支持顶级域名.独有IP生存期可控制技术，高性价比的动态域名解析解决方案，全面提升企业网络的联通性，PSTN、ISDN、ADSL等宽带用户首选。">
<meta name="keywords" content="动态域名,动态域名解析系统,动态域名申请">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css" />
<link href="/Template/Tpl_05/css/AboutUs.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.ac_Title{
	width:90%;
}
</style>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
      <li><a href="/aboutus/">关于我们</a></li>
      <li><a href="/aboutus/user.asp">客户演示</a></li>
    </ul>
  </div>
  <div id="MainContentDIV">
  {#AboutusLeft.html}

    <div id="MainRight">
      <div id="DomainFlash"><img src="/Template/Tpl_05/newimages/AboutUs/aboutus.jpg" width="738" height="173"></div>

      <div id="Cloud_Content_Box" class="RedLink">
        <div id="Title_info"><img src="/Template/Tpl_05/newimages/AboutUs/info_Title_pic_case.jpg" width="290" height="61" /></div>
        <div id="ActionDiv">
          <ul>
            <li>
            
			
			            
              <div class="ac_Title">虚拟主机</div>
              <div class="ac_line"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">电信虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.lvgaa.com/" target="_blank">www.lvgaa.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://west263blog.gotoip2.com/" target="_blank">west263blog.gotoip2.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.dftonghua.cn/" target="_blank">www.dftonghua.cn/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.ljtianyu.com/" target="_blank">www.ljtianyu.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.njzsybft.com/" target="_blank">www.njzsybft.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.shenlan0532.com/" target="_blank">www.shenlan0532.com/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">网通虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.360avs.com/" target="_blank">www.360avs.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.569589.com/" target="_blank">www.569589.com/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">双线虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.ncbbs.net" target="_blank">www.ncbbs.net</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.jyforex.com/" target="_blank">www.jyforex.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.ai0513.com/" target="_blank">www.ai0513.com/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">香港虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.huxiaosh.com/" target="_blank">www.huxiaosh.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.bags86.com/" target="_blank">www.bags86.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.new-ugg.com/" target="_blank">www.new-ugg.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.cnqifan.com/" target="_blank">www.cnqifan.com/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">美国虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.ccgeneva.com/" target="_blank">www.ccgeneva.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.uni-firstchina.com/" target="_blank">www.uni-firstchina.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.ablysourcing.cn/" target="_blank">www.ablysourcing.cn/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.chd.hk/" target="_blank">www.chd.hk/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">集群虚拟主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.somlle.com/" target="_blank">www.somlle.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.qinggan5.com/" target="_blank">www.qinggan5.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.52jzg.com" target="_blank">www.52jzg.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.99410.com" target="_blank">www.99410.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.zhcfm.com" target="_blank">www.zhcfm.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.sunmay-belle.com" target="_blank">www.sunmay-belle.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.wltuoye.com" target="_blank">www.wltuoye.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.xm339.com" target="_blank">www.xm339.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.hge008.com/" target="_blank">www.hge008.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.xsygzs.com/" target="_blank">www.xsygzs.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.zhangxiaoyi.com/" target="_blank">www.zhangxiaoyi.com/</a></div>
                
              </div>
              
              
              
              <div style="clear:both;margin-bottom:10px;"></div>
            
			            
              <div class="ac_Title">云主机</div>
              <div class="ac_line"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">电信云主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.wangling-tech.com/" target="_blank">www.wangling-tech.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.cts666.com/" target="_blank">www.cts666.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.97sc.com/" target="_blank">www.97sc.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.moosun.com.cn/" target="_blank">www.moosun.com.cn/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">港台云主机</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.menkea.com" target="_blank">www.menkea.com</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">双线云主机-北京机房</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.photomekong.com" target="_blank">www.photomekong.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.sunschool.org" target="_blank">www.sunschool.org</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">双线云主机-四川机房</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.51ecshop.com" target="_blank">www.51ecshop.com</a></div>
                
              </div>
              
              
              
              <div style="clear:both;margin-bottom:10px;"></div>
            
			            
              <div class="ac_Title">VPS主机</div>
              <div class="ac_line"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">电信VPS</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.polymillion.net" target="_blank">www.polymillion.net</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">香港VPS</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.zhhj.net.cn" target="_blank">www.zhhj.net.cn</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">美国VPS</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.livinginaus.com" target="_blank">www.livinginaus.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.home-our.com" target="_blank">www.home-our.com</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">双线VPS-北京机房</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.commteam.com.cn/" target="_blank">www.commteam.com.cn/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.hnbljd.com" target="_blank">www.hnbljd.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.zhonghuatuan.com/" target="_blank">www.zhonghuatuan.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.naerqu.net" target="_blank">www.naerqu.net</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.kingkong56.com/" target="_blank">www.kingkong56.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.966191.com/" target="_blank">www.966191.com/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">双线VPS-四川机房</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.zgshjd.com.cn" target="_blank">www.zgshjd.com.cn</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.shihuojian.com.cn" target="_blank">www.shihuojian.com.cn</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.7lxw.com" target="_blank">www.7lxw.com</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.wtscy.com" target="_blank">www.wtscy.com</a></div>
                
              </div>
              
              
              
              <div style="clear:both;margin-bottom:10px;"></div>
            
			            
              <div class="ac_Title">独立主机</div>
              <div class="ac_line"><img src="/Template/Tpl_05/newimages/spacer.gif" width="1" height="1" /></div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">独立主机-电信</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.newsc.org.cn/" target="_blank">www.newsc.org.cn/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.cdfirefox.com/" target="_blank">www.cdfirefox.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.qunaer.org/" target="_blank">www.qunaer.org/</a></div>
                
              </div>
              
              
			  
              <div class="ac_guestlist">
                <h5 class="h5bottom">独立主机-双线</h5>
                
                <div class="ac_guestlist_li"><a href="http://www.sc769.com/" target="_blank">www.sc769.com/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.hzxyjz.cn/" target="_blank">www.hzxyjz.cn/</a></div>
                
                <div class="ac_guestlist_li"><a href="http://www.tffcw.com/" target="_blank">www.tffcw.com/</a></div>
                
              </div>
              
              
              
              <div style="clear:both;margin-bottom:10px;"></div>
                          
            </li>
          </ul>
          <ul>
        <li>
        欢迎广大客户前来申请展示，申请联系QQ：642094760
        </li></ul>
        </div>
        
      </div>
    </div>
  </div>
</div>
{#bottom.html}
</body>
</html>