<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>取回密码-专业虚拟主机域名注册服务商!域名注册虚拟主机租用</title>
<meta name="description" content="取回密码-{companyname}是西南地区最大的虚拟主机、域名注册、服务器租用服务商！20项虚拟主机领先优势，30000用户的共同选择!领先的虚拟主机技术,配合NAS存储设备、ddos防火墙，为您打造性价比最高的虚拟主机!全国领先的双线路虚拟主机，南北畅通无阻！Cn域名58元起！">
<meta name="keywords" content="取回密码-虚拟主机,域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/css.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE1 {
	font-size: 14px;
	font-weight: bold;
}
-->
</style>
<script src="/Template/Tpl_05/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}

  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
      <li><a href="/reg/forget.asp">找回密码</a></li>
    </ul>
  </div>
  <div id="MainContentDIV">



<table width="100% border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
     <td align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="VHostbg">
      <tr>
        <td align="center"><br>
          <table width="100%" border="0" cellspacing="0" cellpadding="4">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="8%" align="center"><img src="/Template/Tpl_05/images/default_21.jpg" width="15" height="15"></td>
                  <td width="92%"><a href="####" class="Menu_Title">找回密码</a></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
      </tr>
    </table>
      <p>&nbsp;</p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center"><table width="250" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="57"><img src="/Template/Tpl_05/images/success_01.gif" width="57" height="64"></td>
              <td background="/Template/Tpl_05/images/success_02.gif"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td align="center" nowrap class="14pxfont"><span class="STYLE1"><font color="#FFFFFF"> {message} </font></span></td>
                </tr>
              </table></td>
              <td width="8"><img src="/Template/Tpl_05/images/success_04.gif" width="8" height="64"></td>
            </tr>
          </table>
            <br>
          <input type="button" class="ButtonBox" name="Submit1" value="" onClick="javascript:location.href='/reg/forget.asp'" style="background:url(/Template/Tpl_05/newimages/Reg/LongButton_submit.gif); width:84px; height:24px; border:none; cursor:pointer"></td>
        </tr>
    </table>
    <p>&nbsp;</p></td>
  </tr>
</table>
</div>
</div>
{#bottom.html}
</body>
</html>
