<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{companyname}-广告联盟(代理模式 D模式)详细介绍</title>
<meta name="description" content="代理模式 D模式详细介绍-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="代理模式 D模式详细介绍-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/Agent.css" rel="stylesheet" type="text/css">
<script src="/Template/Tpl_05/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
<li><a href="/agent/">代理专区</a></li>
<li><a href="/agent/mode-d.asp">代理模式 D模式</a></li>
    </ul>
  </div>
<div id="MainContentDIV">
{#agentleft.html}

<div id="MainRight">
      <div id="DomainFlash">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="738" height="173">
    <param name="movie" value="/Template/Tpl_05/Flash/FlashViewer.swf?XMLPath=/Template/Tpl_05/config/agent/FlashList.xml" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <embed src="/Template/Tpl_05/Flash/FlashViewer.swf?XMLPath=/Template/Tpl_05/config/agent/FlashList.xml" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="738" height="173"></embed>
  </object>
</div>

      <div id="AgentList">
        <div class="Model_div Model_d_class"></div>
        <div id="Model_info">
        <h4>{companyname}广告联盟简介</h4>
        <div class="Model_info_content RedLink">该模式主要是在您网站上放一个有我公司标志的链接，当客户通过该链接进入我公司电子商务平台时，系统会自动记录您的代理号，在我们平台上在线购买的域名、虚拟主机、企业邮局、数据库产品，都会自动添加到您的代理号之下，并按一定的比例给您支付佣金。您可以进入我们的管理后台查看财务记录，状态一目了然。<br />
          <center>
          </center>
          <br />
　　完全不需要您来管理客户信息和提供相关的客户支持，这些我们全权负责。您的前台网站界面可以完全依照您的设计与安排只要你拥有一个网站，无论大小，都可加入我们的代理队伍。无需设计、无需管理，业务量没有时间限制、无需预付款，只需要一个链接,通过你原有的网站，就可以轻轻松松网上赚钱。{companyname}，惊喜不断，快行动起来吧！</div>
        <h4>{companyname}广告联盟优点</h4>
        <div class="Model_info_content RedLink">
          <p>1.无需预付款。           </p>
          <p> 2.业务量没有时间限制。            </p>
          <p>3.全面支持网上支付，不用您亲自打理财务。</p>
          <p> 4.适合在原有网站上拓展&ldquo;电子商务&rdquo;业务。            </p>
          <p>5.无需进行售后服务，客户支持由我们来做。</p>
          <p> 6.通过你网站的流量，就可以轻松赚钱。</p>
          <p>佣金比例：直接客户购买价格的15%. 比如客户购买1000元的虚拟主机，则您可以提成150元。</p>
        </div>
        <h4>特别说明</h4>
        <div class="Model_info_content RedLink">
          <p>1.广告联盟主要是向客户推荐我们的产品(包括虚拟主机,域名注册，数据库、企业邮局)，所以如果自己注册成为广告联盟，再自己购买东西，我们不会给提成！如果希望购买我们的产品，同时享受优惠价格，请申请成为我们的代理商。<br />
2.禁止发垃圾邮件宣传自己的网站,一经发现,我们会立即删除该网站.<br />
3.广告联盟只能发展直接客户。 </p>
          <p>互联网是当今发展最快的行业之一，各行各业纷纷将业务与网上互联，以达到快捷、广泛而廉价的目的。至今，互联网在国内仍有大片尚待开发的领域，上网远远没有饱和。为了进一步推动互联网的发展，{companyname}决定将资源免费共享，让更多的合作伙伴共同加速网络时代的步伐！</p>
          <p>我们每月结算一次，如果你当月的利润大于100元，我们会通过你指定 的汇款方式将钱汇至你手中；如果不足100元，则累至下月一起支付。 </p>
        </div><div class="Agent_bigbutton"><a href="/agent/vcp_reg_d.asp"><img src="/Template/Tpl_05/newimages/Agent/LongBIGbutton_agent.jpg" width="293" height="56" /></a></div>
        </div>
      </div>
    </div>

</div>
</div>
{#bottom.html}
</body>
</html>
