<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{companyname}广告联盟－vcpD模式代理申请</title>
<meta name="description" content="代理模式 D模式详细介绍-{companyname}是专业的虚拟主机域名注册服务商，提供南北互通的双线单IP虚拟主机、域名注册服务，买虚拟主机送顶级域名。全力打造国内顶级高速、稳定的虚拟主机产品.6年成功服务经验，数万家成功企业案例.免费支持wap手机上网,可免费试用7天，赠送企业邮局.">
<meta name="keywords" content="代理模式 D模式详细介绍-虚拟主机,{companyname},域名注册,主机租用,主机,服务器租用，主页空间,网站空间,主机托管,域名,asp空间">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link href="/Template/Tpl_05/css/Global.css" rel="stylesheet" type="text/css">
<link href="/Template/Tpl_05/css/Agent.css" rel="stylesheet" type="text/css">
<script src="/Template/Tpl_05/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script language=javascript>
function isDate(data,text){
var reg=/\b(((19|20)\d{2})-((0?[1-9])|(1[012]))-((0?[1-9])|([12]\d)|(3[01])))\b/
if (reg.exec(data.value)==null) {
	alert("抱歉，"+text+"的日期格式错误,正确的格式是yyyy-MM-dd");
	//data.value=dateObj.getUTCFullYear()+"-"+dateObj.getUTCMonth()+"-"+dateObj.getUTCDay();
	dateObj=new Date();
	data.value="2003-01-30"
	data.focus();
	data.select();
	return false;
}
else{
	return true;
	}
}

function isGreat(number,text){
		if (parseFloat(number)>9999999||parseFloat(number)<0){
			alert("报歉！提交失败，["+text+"]数值超过系统表示范围0-9999999");
			return true;
			}
	return false;
}
function isNumber(number){
var i,str1="0123456789.";
	for(i=0;i<number.value.length;i++){
	if(str1.indexOf(number.value.charAt(i))==-1){
		return false;
		break;
			}
		}
return true;
}
function checkNull(data,text){
	if (data.value==""){
		alert("抱歉!提交失败，"+text+"不能为空!");
		data.focus();
	   return false;
			}
	else{ 
		return true;}
}
function isDigital(data,text){
if (data.value!=""){
	if (!isNumber(data)) {
	alert("抱歉!["+text+"]必须是数字,否则无法提交");
	data.focus();
	data.select();
	return false;
	}
}
return true;
}

function check(form){
if (form.bankNo.value==""){
		alert("错误，请重新输入银行账号!");
		return false;
	}
return true;
}

</script>
</head>
<body id="thrColEls">
<div class="Style2009">
{#top.html}
  <div id="SiteMapPath">
    <ul>
      <li><a href="/">{companyname}首页</a></li>
<li><a href="/agent/">代理专区</a></li>
<li><a href="/agent/vcp_reg_d.asp">D模式在线申请</a></li>
    </ul>
  </div>
<div id="MainContentDIV">
{#agentleft.html}

 <div id="MainRight">
      <div id="DomainFlash">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="738" height="173">
    <param name="movie" value="/Template/Tpl_05/Flash/FlashViewer.swf?XMLPath=/Template/Tpl_05/config/agent/FlashList.xml" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <embed src="/Template/Tpl_05/Flash/FlashViewer.swf?XMLPath=/Template/Tpl_05/config/agent/FlashList.xml" quality="high" wmode="opaque" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="738" height="173"></embed>
  </object>
</div>

      <div id="AgentList">
        <div class="Model_div Model_d_class"></div>
        <div id="Model_info">
        <h4>D模式在线申请</h4>
        <div class="Model_info_content RedLink"></div>
        <div class="Model_info_content RedLink"><form name="form1" method="post" action="modeD_save.asp">
              <table class="MailListTable_a">
                <tr> 
                  <td nowrap="nowrap">姓名:</td>
                  <td>{u_namecn}</td>
                </tr>
                <tr> 
                  <td>通信地址：</td>
                  <td>{u_address} &nbsp;</td>
                </tr>
                <tr> 
                  <td>邮编：</td>
                  <td>{u_zipcode} &nbsp;</td>
                </tr>
                <tr> 
                  <td>QQ：</td>
                  <td>{qq_msg} &nbsp;</td>
                </tr>
                <tr> 
                  <td>电子邮件：</td>
                  <td>{u_email}&nbsp;</td>
                </tr>
                <tr> 
                  <td>电话：</td>
                  <td>{u_telphone}&nbsp;</td>
                </tr>
                <tr> 
                  <td>传真：</td>
                  <td>{u_fax}&nbsp; </td>
                </tr>
                <tr> 
                  <td>银行帐号：</td>
                  <td> 
                    <input type="text" name="bankNo" maxlength="50" class="inputbox">
                  </td>
                </tr>
                <tr> 
                  <td>开户姓名：</td>
                  <td> 
                    <input type="text" name="bank" maxlength="50" class="inputbox">
                  </td>
                </tr>
                <tr> 
                  <td>打款方式：</td>
                  <td> 
                    <input type="radio" name="remitMode" value="工商银行">
                    工商银行电汇 
                    <input type="radio" name="remitMode" value="招商银行">
                    招商银行电汇<br>
                    <input type="radio" name="remitMode" value="建设银行">
                    建设银行电汇 
                    <input type="radio" name="remitMode" value="农业银行">
                    农业银行电汇 <br>
                    <input type="radio" name="remitMode" value="会员冲值" checked>
                    直接打在我的会员号上 
                    <input type="radio" name="remitMode" value="支付宝">
                    支付宝 </td>
                </tr>
                <tr> 
                  <td>备注：</td>
                  <td> 
                    <input type="text" name="from" maxlength="53" class="inputbox">
                  </td>
                </tr>
                <tr> 
                  <td colspan="2"> 
					<input name="Button" type="submit" class="submit_button"  id=save onClick="check(this.form);" value="提交[S]">
                    <input name="Submit2" type="reset" class="submit_button" id=clear value="清除[C]">
                    <input type="hidden" value="{u_id}" name="ReferenceID">
                  </td>
                </tr>
              </table>
              <label for=save AccessKey=S></label><label for=clear AccessKey=C></label> 
            </form></div>
        </div>
      </div>
  

</div>
</div>
</div>
{#bottom.html}
</body>
</html>
