<link rel="stylesheet" href="/template/Tpl_2016/css/default-color.css">
<!--[if lte IE 7]>

<div class="browser-notice" id="J_browserNotice">
    <div class="wide1190 pos-r">
        <p class="notice-content">您的浏览器版本太低，为推动浏览器W3C标准及更好的用户体验，本站强烈建议您升级到支持HTML5的浏览器，获取更好的用户体验。</p><i class="close"></i>
    </div>
</div>

<![endif]-->
<!-- 低版本响应式支持-->
<!--[if lt ie 9 ]> <script type="text/javascript" src="/template/Tpl_2016/jscripts/jresponsed.js"></script> <![endif]-->
<div id="header2016">

    <!--测试页面-->
    <!-- 最顶部导航条 -->
    <div class="headerTop">
        <div class="wide1190 cl headerTop-content">
            <ul class="topnav">
                <!-- 购物车 开始-->
                <li class="shopping-menu-container common-dropdown-container">
                    <a href="/bagshow/" class="menu shoppingcar va-m" rel="nofollow">
                        <b class="b2 va-m"></b>购物车&nbsp;
                        <span class="orangeColor va-m top_shopcar_count" >0</span>
                        <i class="trangle-icon va-m"></i>
                        <i class="va-m-assistant"></i>
                    </a>
                    <div class="shopping-car-container common-dropdown hide">
                        <div class="shopping-car-box">
                            <h3>
                                <span>我的购物车</span>
                            </h3>
                            <table class="shopping-car-list">

                            </table>
                        </div>
                        <div class="shopping-car-bottom">
                            <div>
                                共
                                <span class="shopping-num top_shopcar_count" >0</span>
                                件商品，共计
                                <span class="price top_shopcar_sum">0</span>
                            </div>
                            <a class="shopping-car-btn" href="/bagshow/">去购物车结算</a>
                        </div>
                    </div>
                </li>
                <!-- 购物车 结束-->
                <li class="pos-r common-dropdown-container">


                    <a href="/news/?act=top" class="news-notice menu"><span>最新公告&nbsp;</span>
                        <i class="trangle-icon"></i>
                        <i class="va-m-assistant"></i>
                    </a>
                    <div class="topnav-notice common-dropdown" id="topnav-notice">
                        <p id='noread_countbox'>未读消息 :<span class="allread_notice"></span> <span class="notice_all_bg">&nbsp;</span><a class="count_noread_all" href="/news/?act=top"></a><span class='ignore_notice' onclick='ignore_notice()'>忽略</span></p>
                        <ol class="txtList cl">

                        </ol>
                        <p class="notice_all_content"><a href="/news/?act=top" onclick="ignore_notice()">查看全部</a></p>
                    </div>
                    <script>var nav_top_json=[{"id":677,"day":"7"},{"id":676,"day":"20"},{"id":675,"day":"29"},{"id":674,"day":"30"}]</script>
                </li>
                <li><a href="/customercenter/" class="menu link-menu" >帮助中心</a></li>


            </ul>
            <div class="login-left">
                {topIslogin}
            </div>
        </div>
    </div><!-- 导航菜单栏-->
    <div class="header-nav">
        <div class="wide1190 cl header-nav-content">
<div class="header-pos">
            <a class="logo" href="/" ><img src="{logimgPath}"   /></a>
            <ul class="main-nav-wrapper index-nav cl" id="J_mainNavWrapper">
                <li>
                    <a href="/" class="nav-menu" id="J_mainMenu_sy" title="首页">首页</a>
                </li>
                <li>
                    <a href="/services/domain/" class="nav-menu" id="J_mainMenu_ymzc" title="域名注册">域名注册</a>
                </li>
                <li>
                    <a href="/services/webhosting/" class="nav-menu" id="J_mainMenu_xnzj" title="虚拟主机">虚拟主机</a>
                </li>
                <li>
                    <a href="/services/cloudhost/" class="nav-menu" id="J_mainMenu_yfwq" title="云服务器">云服务器</a>
                </li>
                <li>
                    <a href="/services/vpsserver/" class="nav-menu" id="J_mainMenu_vps" title="VPS主机">VPS</a>
                </li>
                <li>
                    <a href="/services/server/" class="nav-menu" id="J_mainMenu_zjzy" title="主机租用">主机租用</a>
                </li>
                <li>
                    <a href="/services/sites/" class="nav-menu" id="J_mainMenu_yjz" title="云建站">云建站</a>
                </li>
				<li>
                    <a href="/services/miniprogram/" class="nav-menu" id="J_mainMenu_xcx" title="小程序">小程序</a>
                </li>
                <li>
                    <a href="/services/ssl" class="nav-menu" id="J_mainMenu_ssl" title="SSL证书">SSL证书</a>
                </li>
                <li>
                    <a href="/services/mail/" class="nav-menu" id="J_mainMenu_qyyj" title="企业邮局">企业邮局</a>
                </li>
				
                <li>
                    <a href="/services/webhosting/Cloudhost.asp" class="nav-menu" id="J_mainMenu_yxj" title="独享云虚机">云虚机</a>
                </li>
				
            </ul>
</div>
        </div>

    </div>
</div>