<script language="JavaScript" type="text/JavaScript">
<!--
try{
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
}catch(e){}
//-->
</script>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="144"><img src="{logimgPath}"></td>
    <td width="858" align="right"><table border="0" cellspacing="3" cellpadding="1">
        <tr> 
          <td><img src="/Template/Tpl_05/images/Default_19.gif" width="13" height="13"></td>
          <td><a href="/customercenter/buystep.asp">购买流程</a></td>
          <td><img src="/Template/Tpl_05/images/Default_23.gif" width="13" height="13"></td>
          <td><a href="/customercenter/howpay.asp">付款方式</a></td>
          <td><img src="/Template/Tpl_05/images/Default_17.gif" width="13" height="13"></td>
          <td><a href="/faq">常见问题</a></td>
          <td><img src="/Template/Tpl_05/images/Default_15.gif" width="13" height="13"></td>
          <td><a href="/manager/default.asp?page_main=%2FManager%2Fquestion%2Fsubquestion%2Easp">在线提问</a>&nbsp;</td>
          <td><img src="/Template/Tpl_05/images/Default_21.gif" width="13" height="13"></td>
          <td><a href="/customercenter/renew.asp">续租服务</a>&nbsp;</td>
          <td><img src="/Template/Tpl_05/images/Default_15.gif" width="13" height="13"></td>
          <td><a href="/bagshow/">购物车</a></td>
          <td><select onChange="MM_jumpMenu('parent',this,0)" name=menu1>
              <option selected>产品服务快速通道</option>
              <option>----------------</option>
              <option value="/manager/default.asp?page_main=%2FManager%2Fproductall%2Fdefault%2Easp">==产品价格总览==</option>
              <option value="http://www.miibeian.gov.cn/chaxun/sfba.jsp">==是否备案查询==</option>
              <option value="/services/domain/">==域名注册==</option>
              <option value="/services/domain/">英文域名注册</option>
              <option value="/services/domain/defaultcn.asp">中文域名注册</option>
              <option value="/services/domain/dns.asp">DNS管理</option>
              <option value="/services/search/">==网站推广==</option>
              <option value="/services/webhosting/">==虚拟主机==</option>
              <option>----------------</option>
              <option value="/services/webhosting/twolinevhost.asp">双线路虚拟主机</option>
              <option value="/services/webhosting/basic.asp">基本型虚拟主机</option>
              <option value="/services/webhosting/commerce.asp">商用型虚拟主机</option>
              <option value="/services/webhosting/bbs.asp">论坛型虚拟主机 </option>
              <option value="/services/webhosting/function.asp">功能型虚拟主机</option>
              <option value="/services/webhosting/vip.asp">Vip合租虚拟主机</option>
              <option value="/services/webhosting/database.asp">数据库</option>
              <option value="/services/application/">应用服务</option>
              <option value="/services/webhosting/demohost.asp">虚拟主机免费试用</option>
              <option value="/services/webhosting/SpeedTest.htm">机房速度测试</option>
              <option>----------------</option>
              <option value="/services/server/">==租用托管==</option>
              <option value="/services/server/">服务器租用</option>
              <option value="/services/trusteehost/default.asp">主机托管</option>
              <option>----------------</option>
              <option value="/services/mail/">==企业邮局==</option>
              <option value="/services/mail/">购买企业邮局</option>
              <option>----------------</option>
              <option value="/customercenter/howpay.asp">==付款方式==</option>
              <option>----------------</option>
              <option value="/aboutus/contact.asp">==联系我们==</option>
              <option value="/faq/">常见问题</option>
            </select></td>
        </tr>
    </table>
      <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td><img src="/Template/Tpl_05/images/spacer.gif" width="3" height="10" /></td>
        </tr>
    </table></td>
  </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="9" background="/Template/Tpl_05/images/default_04.jpg"><img src="/Template/Tpl_05/images/default_03.jpg" width="9" height="40"></td>
    <td background="/Template/Tpl_05/images/default_04.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center"><a class="Menu_Title" href="/">首页</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/domain/">域名注册</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/webhosting/">虚拟主机</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/domain/defaultcn.asp">中文域名</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/mail/">企业邮局</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/server/">服务器租用</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" href="/services/vpsserver/">VPS主机</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/services/DiySite/default.asp">智能建站</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" 
      href="/agent/">代理专区</a></td>
        <td width="2" align="center"><img src="/Template/Tpl_05/images/default_09.jpg" width="2" height="23"></td>
        <td align="center"><a class="Menu_Title" href="/customercenter/">客服中心</a></td>
      </tr>
    </table></td>
    <td width="11" align="right" background="/Template/Tpl_05/images/default_04.jpg"><img src="/Template/Tpl_05/images/default_06.jpg" width="11" height="40"></td>
  </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="/Template/Tpl_05/images/spacer.gif" width="3" height="1"></td>
  </tr>
</table>
<table width="1002" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="781" align="right"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','779','height','120','src','/flash/FlashViewer','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/flash/FlashViewer' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="779" height="120">
      <param name="movie" value="/Template/Tpl_05/Flash/FlashViewer.swf">
      <param name="quality" value="high">
      <embed src="/Template/Tpl_05/Flash/FlashViewer.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="779" height="120"></embed>
    </object></noscript></td>
    <td align="right"><table width="217" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="5" background="/Template/Tpl_05/images/default_16.jpg"><img src="/Template/Tpl_05/images/default_15.jpg" width="5" height="122"></td>
        <td valign="top" background="/Template/Tpl_05/images/default_16.jpg"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td><img src="/Template/Tpl_05/images/spacer.gif" width="3" height="5"></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="12%" align="center"><img src="/Template/Tpl_05/images/default_21.jpg" width="15" height="15"></td>
              <td width="88%" class="Main_Title">用户登陆</td>
            </tr>
          </table>{topIslogin}</td>
        <td width="8" background="/Template/Tpl_05/images/default_16.jpg"><img src="/Template/Tpl_05/images/default_18.jpg" width="8" height="122"></td>
      </tr>
    </table></td>
  </tr>
</table>
