<table border="0" cellspacing="0" cellpadding="3">
  <tr> 
          <td nowrap><img src="/Template/Tpl_05/images/icoTip.gif" width="14" height="18">&nbsp;&nbsp;&nbsp;</td>
          <td nowrap>您好：<font color="#FF6600"><strong>{user_name}&nbsp;&nbsp;</strong></font></td>
          <td nowrap>您的级别是:<strong><font color="#FF6600">{u_level}&nbsp;&nbsp;</font></strong></td>
          <td nowrap><a href="{managerurl}"><u><font color="#FF6600"><strong>管理中心</strong></font></u></a>&nbsp;&nbsp;</td>
          <td nowrap><input type="button" name="button" id="button" value="退 出" class="ButtonBox" onclick="javascript:location.href='/signout.asp'" /></td>
  </tr>
      </table>