<table width="100%" border="0" cellspacing="0" cellpadding="6" class="newbox">
  <tr> 
          
    <td align="center"><a href="/services/server/"><img src="/Template/Tpl_05/images/Left_host.gif" width="217" height="62" border="0"></a></td>
  </tr><tr> 
          
    <td align="center"><a href="/agent/mode-d.asp"><img src="/Template/Tpl_05/images/Default_107.gif" width="217" height="62" border="0"></a></td>
        </tr><tr> 
          
    <td align="center"><a href="http://www.miibeian.gov.cn" target="_blank"><img src="/Template/Tpl_05/images/Default_149.gif" width="217" height="62" border="0"></a></td>
        </tr><tr>
          
    <td align="center"><a href="http://www.myhostadmin.net/" target="_blank"><img src="/Template/Tpl_05/images/Left_duli.gif" width="217" height="62" border="0"></a></td>
        </tr>
      </table>