<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="/Template/Tpl_05/images/spacer.gif" height="3" width="1" border="0" /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><a href="/agent/" target="_blank"><img src="/Template/Tpl_05/timages/v2_69.gif" border="0" /></a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="/Template/Tpl_05/images/spacer.gif" height="3" width="1" border="0" /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><a href="/services/DiySite/default.asp" target="_blank"><img src="/Template/Tpl_05/timages/v2_61.gif" border="0" /></a></td>
  </tr>
</table>
